.quotes-wrapper, .section .content:has(+ .quotes-wrapper) {
  max-width: 375px;
}

.quotes-wrapper:has(.quotes.carousel), .section .content:has(+ .carousel) {
  max-width: unset;
}

.quotes-wrapper:has(.quotes.carousel) .basic-carousel-container {
  display: flex;
  width: 100%;
}

.quotes-wrapper:has(.quotes.carousel) .basic-carousel-container .basic-carousel-platform {
  max-width: 100%;
  height: auto;
  min-height: 0; /* Allows container to shrink */
  margin: auto;
  display: flex;
  align-items: stretch;
}

.quotes-wrapper:has(.quotes.carousel) .basic-carousel-container .basic-carousel-element {
  display: flex;
  min-height: 0; /* Allows container to shrink */
  height: auto;
}

.quotes-wrapper:has(.quotes.carousel) .basic-carousel-container .template.basic-carousel-element {
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.quotes.carousel .quote {
  display: flex;
  width: 348px;
  min-width: 300px;
  max-width: 348px;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: var(--Marquee-grid-Card-Card-Radius, 16px);
  background: var(--Alias-background-app-frame-layer-1, #F8F8F8);
  /* Drop shadow/emphasized-default */
  box-shadow: 0px 1px 6px 0px var(--Alias-drop-shadow-emphasized-default, rgba(0, 0, 0, 0.12));
  height: auto;
  flex: 1 1 auto;
}

.quotes.carousel .quote .content {
  padding-top: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section:has(.quotes)>div>h2 {
  margin-top: 80px;
}

.quotes-wrapper {
  margin: auto;
}

.quotes {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .quotes:last-child {
  padding-bottom: 80px;
}

.quotes.singular {
  margin: 0 auto;
  padding-bottom: 0;
}

.quotes .quote {
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 32px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  background: var(--color-white);
}

.quotes .quote .author .author-content {
  display: flex;
  align-items: center;
}

.quotes.carousel .quote .author-content {
  flex-direction: column;
}

.quotes .quote .author .summary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quotes .quote .content::before {
  content: '“';
  display: block;
  position: absolute;
  margin-top: -15px;
  width: 36px;
  text-align: left;
  font-size: 72px;
  font-weight: 900;
}

.quotes.carousel .quote .content::before {
  display: none;
}

.quotes .quote p {
  margin: 32px 0;
}

.quotes .quote .author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0;
}

.quotes.carousel .quote .author {
  display: flex;
  margin-top: 0;
  align-items: center;
}

.quotes .quote .author hr {
  display: none;
}

.quotes .quote .author .image {
  padding-right: 10px;
}

.quotes .quote .author .image img {
  width: 42px;
  height: 42px;
  max-width: unset;
  border-radius: 21px;
  box-sizing: border-box;
}

main div:has(> .quotes-wrapper .singular.quotes) {
  padding-top: 0;
}

main .quotes-wrapper:has(.singular.quotes) {
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

main .quotes.singular {
  width: 100%;
}

main .quotes.singular .quote-container {
  width: 100%;
}

main .quotes.singular .quote-container .desktop-container {
  position: relative;
  display: none;
}

main .quotes.singular .quote-container .mobile-container {
  position: relative;
}

main .quotes.singular .quote-container .mobile-container .quote {
  margin: 0;
}

/* toggles between the mobile and desktop layout */
@media (min-width: 768px) {
  main .quotes.singular .quote-container .desktop-container {
    display: block;
  }
  main .quotes.singular .quote-container .mobile-container {
    display: none;
  }
}

main .quotes.singular .quote-container .desktop-container .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .quotes.singular .quote-container .mobile-container .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .quotes.singular .quote {
  display: flex;
  flex-flow: row;
  background: transparent;
  justify-content: center;
  padding: 64px 0;
  min-height: 370px;
}

main .quotes.singular .author-photo {
  width: 100px;
  height: 100px;
  min-width: 100px; /* at certain container width, the 100px width may be made smaller by the browser, so impose a min-width */
  border-radius: 50%;
  overflow: hidden;
}

main .quotes.singular .author-photo picture,
main .quotes.singular .author-photo picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  display: inline-block;
}

main .quotes.singular .mobile-container .author-photo {
  width: 60px;
  height: 60px;
  min-width: 60px; /* at certain container width, the 60px width may be made smaller by the browser, so impose a min-width */
  border-radius: 50%;
  overflow: hidden;
}

main .quotes.singular .mobile-container .author-photo picture,
main .quotes.singular .mobile-container .author-photo picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  display: inline-block;
}

main .quotes.singular .quote-details {
  margin: 0 16px;
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  line-height: initial;
}

main .quotes.singular .desktop-container .quote-details {
  margin-left: 30px;
}

main .quotes.singular .author-description {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

main .quotes.singular .mobile-container .author-panel {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

main .quotes.singular .mobile-container .author-panel .author-photo {
  margin-right: 15px;
}

.quotes.carousel .quotes-ratings-wrapper .container {
  display: flex;
}

.quotes.carousel .quotes-ratings-wrapper .container > div {
  width: 495px;
}

.quotes.carousel .rating-votes {
  display: flex;
}

.quotes.carousel .ratings-container {
  margin-left: auto;
}

@media (min-width: 768px) {
  main .quotes.singular .quote {
    width: 83.3%;
    max-width: 968px;
    min-height: 315px;
  }
}

@media (min-width: 1280px) {
  main .quotes.singular .quote {
    width: 75%;
    font-weight: 600;
  }
  main .quotes.singular .quote-details {
    font-size: 28px;
  }
}

@media (min-width: 1680px) {
  main .quotes.singular .quote {
    max-width: 1120px;
  }
}

.quotes .quote .author .summary p {
  text-align: left;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2;
}

.quotes.carousel .quote .author .summary p {
  text-align: center;
}

.quotes h2,
.quotes h3,
.quotes h4,
.quotes h5 {
  color: var(--color-black);
}

@media (min-width: 900px) {
  .quotes-wrapper, .section .content:has(+ .quotes-wrapper) {
    max-width: 724px;
  }

  .quotes:not(.carousel) {
    flex-direction: row;
    gap: 16px;
  }

  .quotes .quote {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .quotes-wrapper, .section .content:has(+ .quotes-wrapper) {
    max-width: 1024px;
  }
}
