.hover-cards {
  --box-shadow-vertical-offset: 7px;
}

.hover-cards .heading-container {
  padding-bottom: calc(var(--spacing-500) - var(--box-shadow-vertical-offset));
}

.hover-cards .heading-container p {
  margin: 0;
  font-size: var(--body-font-size-m);
  color: var(--color-gray-800);
  line-height: 1.3;
}

.hover-cards .heading-container h2,
.hover-cards .heading-container h3 {
  padding-bottom: var(--spacing-100);
  font-size: var(--body-font-size-xl);
  color: #131313;
}

.hover-cards .gallery {
  padding: var(--box-shadow-vertical-offset) 0;
  gap: var(--spacing-300);
}

.hover-cards .gallery-control {
  padding-top: var(--spacing-300);
}

.hover-cards .card {
  position: relative;
  min-width: 260px;
  max-width: 405px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  flex: 1 1 auto;
  background-color: var(--color-white);
}

.hover-cards .card .bg-pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.hover-cards .card:hover .bg-pic img {
  opacity: 1;
}

.hover-cards .card p {
  margin: 0;
}

.hover-cards .card .cta {
  position: relative;
  padding: var(--spacing-200) var(--spacing-300) var(--spacing-300);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px; 
}

.hover-cards .card .cta .button {
  margin: 0;
  overflow: visible;
  white-space: nowrap;
}

.hover-cards .card .cta p {
  font-size: var(--body-font-size-m);
  font-weight: 700;
}

.hover-cards .card .media {
  position: relative;
  padding: var(--spacing-300) var(--spacing-300) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-cards .card .media img {
  height: 200px; 
  width: auto;
}

@media (min-width: 600px) {
  .hover-cards .heading-container h2,
  .hover-cards .heading-container h3 {
    padding-bottom: var(--spacing-100);
    font-size: var(--heading-font-size-s);
  }
  .hover-cards .heading-container {
    padding-bottom: calc(20px - var(--box-shadow-vertical-offset));
  }
}

@media (min-width: 1200px) {
  .hover-cards .heading-container {
    padding-bottom: calc(36px - var(--box-shadow-vertical-offset));
  }
}
