.app-ratings {
  max-width: initial;
  text-align: center;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px 48px;
  align-self: stretch;
  flex-wrap: wrap; 
}

.app-ratings strong,
.app-ratings a,
.app-ratings button {
  font-family: var(--body-font-family);
}

.app-ratings .ratings {
  display: flex;
  min-width: var(--Global-Device-Widths-device-min-width, 360px);
  max-width: var(--Global-Device-Widths-device-max-width, 767px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Marquee-grid-Card-Element-Padding, 16px);
  align-self: stretch;
  padding: 16px;
}

.app-ratings .ratings-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.app-ratings .ratings img {
  height: 35px;
    padding-left: 12px;
    margin: 0;
    position: relative;
    top: 2px;
}

@media screen and (min-width: 768px) {
  .app-ratings .ratings {
    flex-direction: row;
    padding: 0;
    gap: 48px;
  }
  .app-ratings {
    padding : 32px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .app-ratings {
    padding : 16px 0px;
  }
 
}
