:root {
    --express-web-headings-XXL-font-family: "Adobe Clean", Helvetica;
    --express-web-headings-XXL-font-weight: 900;
    --express-web-headings-XXL-font-size: 45px;
    --express-web-headings-XXL-letter-spacing: 0px;
    --express-web-headings-XXL-line-height: 129.99999523162842%;
    --express-web-headings-XXL-font-style: normal;
    --express-web-headings-XL-font-family: "Adobe Clean", Helvetica;
    --express-web-headings-XL-font-weight: 900;
    --express-web-headings-XL-font-size: 36px;
    --express-web-headings-XL-letter-spacing: 0px;
    --express-web-headings-XL-line-height: 129.99999523162842%;
    --express-web-headings-XL-font-style: normal;
    --express-web-headings-l-font-family: "Adobe Clean", Helvetica;
    --express-web-headings-l-font-weight: 900;
    --express-web-headings-l-font-size: 28px;
    --express-web-headings-l-letter-spacing: 0px;
    --express-web-headings-l-line-height: 129.99999523162842%;
    --express-web-headings-l-font-style: normal;
    --express-web-headings-m-font-family: "Adobe Clean", Helvetica;
    --express-web-headings-m-font-weight: 900;
    --express-web-headings-m-font-size: 22px;
    --express-web-headings-m-letter-spacing: 0px;
    --express-web-headings-m-line-height: 129.99999523162842%;
    --express-web-headings-m-font-style: normal;
    --express-web-headings-s-font-family: "Adobe Clean", Helvetica;
    --express-web-headings-s-font-weight: 900;
    --express-web-headings-s-font-size: 20px;
    --express-web-headings-s-letter-spacing: 0px;
    --express-web-headings-s-line-height: 129.99999523162842%;
    --express-web-headings-s-font-style: normal;
    --express-web-headings-XS-font-family: "Adobe Clean", Helvetica;
    --express-web-headings-XS-font-weight: 900;
    --express-web-headings-XS-font-size: 18px;
    --express-web-headings-XS-letter-spacing: 0px;
    --express-web-headings-XS-line-height: 129.99999523162842%;
    --express-web-headings-XS-font-style: normal;
    --express-web-titles-XXL-font-family: "Adobe Clean", Helvetica;
    --express-web-titles-XXL-font-weight: 700;
    --express-web-titles-XXL-font-size: 22px;
    --express-web-titles-XXL-letter-spacing: 0px;
    --express-web-titles-XXL-line-height: 129.99999523162842%;
    --express-web-titles-XXL-font-style: normal;
    --express-web-titles-XL-font-family: "Adobe Clean", Helvetica;
    --express-web-titles-XL-font-weight: 700;
    --express-web-titles-XL-font-size: 20px;
    --express-web-titles-XL-letter-spacing: 0px;
    --express-web-titles-XL-line-height: 129.99999523162842%;
    --express-web-titles-XL-font-style: normal;
    --express-web-titles-l-font-family: "Adobe Clean", Helvetica;
    --express-web-titles-l-font-weight: 700;
    --express-web-titles-l-font-size: 18px;
    --express-web-titles-l-letter-spacing: 0px;
    --express-web-titles-l-line-height: 129.99999523162842%;
    --express-web-titles-l-font-style: normal;
    --express-web-titles-m-font-family: "Adobe Clean", Helvetica;
    --express-web-titles-m-font-weight: 700;
    --express-web-titles-m-font-size: 16px;
    --express-web-titles-m-letter-spacing: 0px;
    --express-web-titles-m-line-height: 129.99999523162842%;
    --express-web-titles-m-font-style: normal;
    --express-web-titles-s-font-family: "Adobe Clean", Helvetica;
    --express-web-titles-s-font-weight: 700;
    --express-web-titles-s-font-size: 14px;
    --express-web-titles-s-letter-spacing: 0px;
    --express-web-titles-s-line-height: 129.99999523162842%;
    --express-web-titles-s-font-style: normal;
    --express-web-titles-XS-font-family: "Adobe Clean", Helvetica;
    --express-web-titles-XS-font-weight: 700;
    --express-web-titles-XS-font-size: 12px;
    --express-web-titles-XS-letter-spacing: 0px;
    --express-web-titles-XS-line-height: 129.99999523162842%;
    --express-web-titles-XS-font-style: normal;
    --express-web-body-XXL-font-family: "Adobe Clean", Helvetica;
    --express-web-body-XXL-font-weight: 400;
    --express-web-body-XXL-font-size: 22px;
    --express-web-body-XXL-letter-spacing: 0px;
    --express-web-body-XXL-line-height: 129.99999523162842%;
    --express-web-body-XXL-font-style: normal;
    --express-web-body-XL-font-family: "Adobe Clean", Helvetica;
    --express-web-body-XL-font-weight: 400;
    --express-web-body-XL-font-size: 20px;
    --express-web-body-XL-letter-spacing: 0px;
    --express-web-body-XL-line-height: 129.99999523162842%;
    --express-web-body-XL-font-style: normal;
    --express-web-body-l-font-family: "Adobe Clean", Helvetica;
    --express-web-body-l-font-weight: 400;
    --express-web-body-l-font-size: 18px;
    --express-web-body-l-letter-spacing: 0px;
    --express-web-body-l-line-height: 129.99999523162842%;
    --express-web-body-l-font-style: normal;
    --express-web-body-m-font-family: "Adobe Clean", Helvetica;
    --express-web-body-m-font-weight: 400;
    --express-web-body-m-font-size: 16px;
    --express-web-body-m-letter-spacing: 0px;
    --express-web-body-m-line-height: 129.99999523162842%;
    --express-web-body-m-font-style: normal;
    --express-web-body-s-font-family: "Adobe Clean", Helvetica;
    --express-web-body-s-font-weight: 400;
    --express-web-body-s-font-size: 14px;
    --express-web-body-s-letter-spacing: 0px;
    --express-web-body-s-line-height: 129.99999523162842%;
    --express-web-body-s-font-style: normal;
    --express-web-body-XS-font-family: "Adobe Clean", Helvetica;
    --express-web-body-XS-font-weight: 400;
    --express-web-body-XS-font-size: 12px;
    --express-web-body-XS-letter-spacing: 0px;
    --express-web-body-XS-line-height: 129.99999523162842%;
    --express-web-body-XS-font-style: normal;
    --express-web-body-italicized-XXL-font-family: "Adobe Clean", Helvetica;
    --express-web-body-italicized-XXL-font-weight: 400;
    --express-web-body-italicized-XXL-font-size: 22px;
    --express-web-body-italicized-XXL-letter-spacing: 0px;
    --express-web-body-italicized-XXL-line-height: 129.99999523162842%;
    --express-web-body-italicized-XXL-font-style: italic;
    --express-web-body-italicized-XL-font-family: "Adobe Clean", Helvetica;
    --express-web-body-italicized-XL-font-weight: 400;
    --express-web-body-italicized-XL-font-size: 20px;
    --express-web-body-italicized-XL-letter-spacing: 0px;
    --express-web-body-italicized-XL-line-height: 129.99999523162842%;
    --express-web-body-italicized-XL-font-style: italic;
    --express-web-body-italicized-l-font-family: "Adobe Clean", Helvetica;
    --express-web-body-italicized-l-font-weight: 400;
    --express-web-body-italicized-l-font-size: 18px;
    --express-web-body-italicized-l-letter-spacing: 0px;
    --express-web-body-italicized-l-line-height: 129.99999523162842%;
    --express-web-body-italicized-l-font-style: italic;
    --express-web-body-italicized-m-font-family: "Adobe Clean", Helvetica;
    --express-web-body-italicized-m-font-weight: 400;
    --express-web-body-italicized-m-font-size: 16px;
    --express-web-body-italicized-m-letter-spacing: 0px;
    --express-web-body-italicized-m-line-height: 129.99999523162842%;
    --express-web-body-italicized-m-font-style: italic;
    --express-web-body-italicized-s-font-family: "Adobe Clean", Helvetica;
    --express-web-body-italicized-s-font-weight: 400;
    --express-web-body-italicized-s-font-size: 14px;
    --express-web-body-italicized-s-letter-spacing: 0px;
    --express-web-body-italicized-s-line-height: 129.99999523162842%;
    --express-web-body-italicized-s-font-style: italic;
    --express-web-body-italicized-XS-font-family: "Adobe Clean", Helvetica;
    --express-web-body-italicized-XS-font-weight: 400;
    --express-web-body-italicized-XS-font-size: 12px;
    --express-web-body-italicized-XS-letter-spacing: 0px;
    --express-web-body-italicized-XS-line-height: 129.99999523162842%;
    --express-web-body-italicized-XS-font-style: italic;
    --large-screen-heading-heavy-black-l-font-family: "Adobe Clean", Helvetica;
    --large-screen-heading-heavy-black-l-font-weight: 900;
    --large-screen-heading-heavy-black-l-font-size: 28px;
    --large-screen-heading-heavy-black-l-letter-spacing: 0px;
    --large-screen-heading-heavy-black-l-line-height: 129.99999523162842%;
    --large-screen-heading-heavy-black-l-font-style: normal;
    --large-screen-body-m-font-family: "Adobe Clean", Helvetica;
    --large-screen-body-m-font-weight: 400;
    --large-screen-body-m-font-size: 16px;
    --large-screen-body-m-letter-spacing: 0px;
    --large-screen-body-m-line-height: 129.99999523162842%;
    --large-screen-body-m-font-style: normal;
    --large-screen-title-s-font-family: "Adobe Clean", Helvetica;
    --large-screen-title-s-font-weight: 700;
    --large-screen-title-s-font-size: 14px;
    --large-screen-title-s-letter-spacing: 0px;
    --large-screen-title-s-line-height: 129.99999523162842%;
    --large-screen-title-s-font-style: normal;
    --large-screen-body-s-font-family: "Adobe Clean", Helvetica;
    --large-screen-body-s-font-weight: 400;
    --large-screen-body-s-font-size: 14px;
    --large-screen-body-s-letter-spacing: 0px;
    --large-screen-body-s-line-height: 129.99999523162842%;
    --large-screen-body-s-font-style: normal;
    --large-screen-title-m-font-family: "Adobe Clean", Helvetica;
    --large-screen-title-m-font-weight: 700;
    --large-screen-title-m-font-size: 16px;
    --large-screen-title-m-letter-spacing: 0px;
    --large-screen-title-m-line-height: 129.99999523162842%;
    --large-screen-title-m-font-style: normal;
    --focused-state: 0px 0px 16px 2px rgba(175, 195, 9, 1);
  }