.breakpoint-l-large {
    display: flex;
    flex-direction: column;
    max-width: 1679px;
    width: 1440px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 40px;
    position: relative;
    background-color: #ffffff;
  }
  
  .breakpoint-l-large .content-container {
    display: flex;
    flex-direction: column;
    min-width: 900px;
    max-width: 1440px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .top-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .text-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .div {
    display: flex;
    flex-direction: column;
    width: 696px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
  }
  
  .breakpoint-l-large .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--large-screen-heading-heavy-black-l-font-family);
    font-weight: var(--large-screen-heading-heavy-black-l-font-weight);
    color: #000000;
    font-size: var(--large-screen-heading-heavy-black-l-font-size);
    letter-spacing: var(--large-screen-heading-heavy-black-l-letter-spacing);
    line-height: var(--large-screen-heading-heavy-black-l-line-height);
    font-style: var(--large-screen-heading-heavy-black-l-font-style);
  }
  
  .breakpoint-l-large .p {
    position: relative;
    align-self: stretch;
    font-family: var(--large-screen-body-m-font-family);
    font-weight: var(--large-screen-body-m-font-weight);
    color: #000000;
    font-size: var(--large-screen-body-m-font-size);
    letter-spacing: var(--large-screen-body-m-letter-spacing);
    line-height: var(--large-screen-body-m-line-height);
    font-style: var(--large-screen-body-m-font-style);
  }
  
  .breakpoint-l-large .space-container {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  .breakpoint-l-large .tabs-and-link {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .tabs {
    display: inline-flex;
    flex-direction: column;
    min-height: 28px;
    max-height: 28px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .divider {
    position: absolute;
    width: 2px;
    height: 551px;
    top: -249px;
    left: 275px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #d5d5d5;
    transform: rotate(-90.00deg);
  }
  
  .breakpoint-l-large .tabs-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .tab-item {
    display: inline-flex;
    flex-direction: column;
    min-height: 28px;
    max-height: 28px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--large-screen-title-s-font-family);
    font-weight: var(--large-screen-title-s-font-weight);
    color: #222222;
    font-size: var(--large-screen-title-s-font-size);
    letter-spacing: var(--large-screen-title-s-letter-spacing);
    line-height: var(--large-screen-title-s-line-height);
    white-space: nowrap;
    font-style: var(--large-screen-title-s-font-style);
  }
  
  .breakpoint-l-large .selection-indicator {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 2px;
    background-color: #222222;
    border-radius: 8px;
  }
  
  .breakpoint-l-large .label-wrapper {
    display: inline-flex;
    flex-direction: column;
    height: 28px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .label-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--large-screen-body-s-font-family);
    font-weight: var(--large-screen-body-s-font-weight);
    color: #464646;
    font-size: var(--large-screen-body-s-font-size);
    letter-spacing: var(--large-screen-body-s-letter-spacing);
    line-height: var(--large-screen-body-s-line-height);
    white-space: nowrap;
    font-style: var(--large-screen-body-s-font-style);
  }
  
  .breakpoint-l-large .link {
    display: inline-flex;
    align-items: flex-end;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .link-text {
    position: relative;
    width: fit-content;
    margin-top: -2.00px;
    margin-left: -1.00px;
    -webkit-text-stroke: 1px #000000;
    font-family: var(--large-screen-title-m-font-family);
    font-weight: var(--large-screen-title-m-font-weight);
    color: #5c5ce0;
    font-size: var(--large-screen-title-m-font-size);
    letter-spacing: var(--large-screen-title-m-letter-spacing);
    line-height: var(--large-screen-title-m-line-height);
    white-space: nowrap;
    font-style: var(--large-screen-title-m-font-style);
  }
  
  .breakpoint-l-large .horizontal-template {
    display: flex;
    width: 1456.4px;
    align-items: flex-start;
    gap: 22px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -96.40px;
    overflow-x: scroll;
  }
  
  .breakpoint-l-large .horizontal-template::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  
  .breakpoint-l-large .template-thumbnail {
    display: inline-flex;
    height: 200px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .breakpoint-l-large .template-base-fixed {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .aspect-ratio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    z-index: 1;
    transform: rotate(143.62deg);
  }
  
  .breakpoint-l-large .aspect-ratio-keeper-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    transform: rotate(44.39deg);
  }
  
  .breakpoint-l-large .aspect-ratio-keeper {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 135.33px;
    margin-top: -27.84px;
    margin-bottom: -27.84px;
    transform: rotate(53.32deg);
  }
  
  .breakpoint-l-large .alt-null {
    position: relative;
    align-self: stretch;
    height: 1px;
    z-index: 0;
    font-family: "Adobe Clean-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19.9px;
    white-space: nowrap;
  }
  
  .breakpoint-l-large .badge-free {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 19px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1px 2px 3px;
    position: absolute;
    top: 8px;
    left: 90px;
    background-color: #000000b2;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .breakpoint-l-large .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Adobe Clean-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .breakpoint-l-large .template-base-fixed-2 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-9.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-3 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-4 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-8.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-5 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-4.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-6 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-5.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-7 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-6.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-8 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-9 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width-7.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .breakpoint-l-large .template-base-fixed-10 {
    display: flex;
    flex-direction: column;
    width: 133.33px;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/template-base-fixed-width.png);
    background-size: cover;
    background-position: 50% 50%;
  }