.template-x-carousel-toolbar {
  --template-expand-top-len: 8px;
  --template-expand-bot-len: 54px;
  --template-total-expand-len: calc(var(--template-expand-top-len) + var(--template-expand-bot-len));
  --template-height: 200px;
  --from-scratch-width: 144px;
  --select-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
  --select-radius: 10px;
  --template-purple: #5258e4;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.template-x-carousel-toolbar .headline-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 40px;
}

.template-x-carousel-toolbar .headline-container h2,
.template-x-carousel-toolbar .headline-container h3 {
  line-height: 1.3;
  font-size: var(--body-font-size-xl);
  font-weight: 900;
  padding-bottom: 8px;
}

.template-x-carousel-toolbar .headline-container p {
  line-height: 1.3;
  font-size: var(--body-font-size-m);
  margin: 0;
}

.template-x-carousel-toolbar .hidden {
  display: none;
}

.template-x-carousel-toolbar .select {
  z-index: 1;
  position: relative;
  cursor: pointer;
  background: #e1e1e1;
  width: max-content;
  height: max-content;
  border-radius: var(--select-radius);
  box-shadow: var(--select-box-shadow);
}

.template-x-carousel-toolbar .select[aria-expanded="true"] {
  background: initial;
  border-radius: var(--select-radius) var(--select-radius) 0 0;
}

.template-x-carousel-toolbar .select .icon-drop-down-arrow {
  height: 8px;
  width: 8px;
  padding: 0 12px 0 8px;
}

.template-x-carousel-toolbar .select[aria-expanded="true"] .icon-drop-down-arrow {
  transform: rotate(180deg);
  padding: 0 8px 0 12px;
}

.template-x-carousel-toolbar .select[aria-expanded="false"] .options {
  visibility: hidden;
  height: 0;
  border: 0;

}

.template-x-carousel-toolbar .selected-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.template-x-carousel-toolbar .options {
  position: absolute;
  left: 0;
  background: white;
  margin: 0;
  z-index: 1;
  padding-left: 0;
  border-radius: 0 0 var(--select-radius) var(--select-radius);
  box-shadow: var(--select-box-shadow);
  width: 100%;
}

.template-x-carousel-toolbar .option,
.template-x-carousel-toolbar .selected-option {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  padding: 8px;
}
.template-x-carousel-toolbar .selected-option {
  width: max-content;
}

.template-x-carousel-toolbar .sizing-proxy {
  position: relative;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  /* icon spacing */
  padding-right: 16px;
}

.template-x-carousel-toolbar .select[aria-expanded="true"] .selected-option {
  color: var(--template-purple);
}

.template-x-carousel-toolbar .option:last-of-type {
  border-radius: 0 0 var(--select-radius) var(--select-radius);
}

.template-x-carousel-toolbar .option.hovered {
  background-color: #e1e1e1;
}

/* gallery styles */
.template-x-carousel-toolbar .gallery {
  align-items: flex-start;
  gap: 22px;
  /* avoid capping from .button-container */
  padding: var(--template-expand-top-len) 0 var(--template-expand-bot-len);
  /* cancel the padding */
  margin: calc(-1 * var(--template-expand-top-len)) 0 calc(-1 * var(--template-expand-bot-len));
}
.template-x-carousel-toolbar .gallery-control {
  padding-top: var(--template-expand-bot-len);
}

/* individual templates styles */
.template-x-carousel-toolbar .template p {
  margin: 0;
}

.template-x-carousel-toolbar .template {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  text-decoration: unset;
  position: relative;
  border-radius: 14px;
  flex: 0 0 auto;
}

.template-x-carousel-toolbar .template:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--color-info-accent);
}

.template-x-carousel-toolbar .template .button-container:focus-within {
  visibility: visible;
  opacity: 1;
}

.template-x-carousel-toolbar .template .image-wrapper {
  height: var(--template-height);
  width: auto;
}

.template-x-carousel-toolbar .template > div:first-child > a:any-link {
  padding-left: 0;
}

.template-x-carousel-toolbar .template img, .template-x-carousel-toolbar .template video {
  border-radius: 12px;
}

.template-x-carousel-toolbar .template img:not(.icon),
.template-x-carousel-toolbar .template video {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  display: block;
}

.template-x-carousel-toolbar .template .media-wrapper img.hidden,
.template-x-carousel-toolbar .template .media-wrapper video.hidden {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.template-x-carousel-toolbar .template .media-wrapper video {
  clip-path: inset(0 0 3px 0);
}

.template-x-carousel-toolbar .template .button-container {
  position: absolute;
  max-width: 90vw;
  
  width: 100%;

  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 22px));
  min-height: 100%;
  opacity: 0;
  text-align: center;
  transition: opacity .3s ease-in-out;
  will-change: opacity;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--color-white);
  padding: 8px;
  box-shadow: 0 0 6px #00000029;
}

.template-x-carousel-toolbar .template:hover .button-container {
  opacity: 1;
  pointer-events: initial;
  z-index: 1;
}


.template-x-carousel-toolbar .template .button-container .media-wrapper .icon-share-arrow {
  cursor: pointer;
  pointer-events: auto;
  width: 12px;
  height: 12px;
  padding: 4px;
  background-color: white;
  overflow: visible;
}

.template-x-carousel-toolbar .template .button-container .media-wrapper .share-icon-wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  height: 20px;
}

.template-x-carousel-toolbar .template .button-container .media-wrapper .share-icon-wrapper .shared-tooltip {
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 130px;
  background-color: var(--background-positive-default);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 12px);
  font-size: var(--body-font-size-s);
}

.template-x-carousel-toolbar .template .button-container a.button,
.template-x-carousel-toolbar .template a.con-button {
  max-width: 100%;
  width: max-content;
  margin: 6px auto 0;
  box-sizing: border-box;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.template-x-carousel-toolbar .template .button-container a.cta-link,
.template-x-carousel-toolbar .template a.con-button {
  display: block;
  width: 100%;
  height: calc(100% - 34px);
  white-space: nowrap;
  font-weight: var(--body-font-weight);
}

.template-x-carousel-toolbar .template .button-container .media-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.template-x-carousel-toolbar .template .still-wrapper .image-wrapper .free-tag {
  position: absolute;
  height: 24px;
  display: flex;
  border-radius: 1000px;
  align-items: center;
  font-weight: 500;
  width: max-content;
  top: 8px;
  right: 8px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 16px;
  padding: 0 12px;
  background: #000000B3;
}

.template-x-carousel-toolbar .template .still-wrapper .image-wrapper .icon-premium {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 8px;
  right: 8px;
}

.template-x-carousel-toolbar .template .still-wrapper .image-wrapper .media-type-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  bottom: 8px;
  left: 8px;
  border-radius: 50%;
  box-shadow: 0 0 5px #00000033;
}

/* from-scracth styles */
.template-x-carousel-toolbar .from-scratch-container {
  position: relative;
  height: var(--template-height);
  width: var(--from-scratch-width);
  flex: 0 0 auto;
  background-color: var(--color-white);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.template-x-carousel-toolbar .from-scratch-border {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px dashed #e9e9e9;
  border-radius: 16px;
  box-sizing: border-box;
}

.template-x-carousel-toolbar .from-scratch-border svg {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 22px;
  height: 22px;
}

.template-x-carousel-toolbar .from-scratch-text {
  margin-top: auto;
  color: var(--template-purple);
  font-weight: 700;
  font-size: var(--body-font-size-s);
  text-align: center;
  padding: 0 24px 24px;
}

@media (min-width: 600px) {
  .template-x-carousel-toolbar .headline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0;
  }
}
