.floating-panel {
  line-height: 130%;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
  position: fixed;
  z-index: 2;
  bottom: 100px;
  box-sizing: border-box;
  width: 343px;
  left: 50%;
  transform: translateX(-50%);
}

.floating-panel.dark {
  color: var(--color-white);
  background-color: #000b1d;
}

.floating-panel .header {
  font-weight: 700;
  font-size: var(--body-font-size-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;;
}
.floating-panel .header .icon{
  width: 10px;
  height: 10px;
  padding: 7px;
}

.floating-panel .subheader {
  font-weight: 400;
  font-size: var(--body-font-size-s);
  padding-bottom: 16px;
}

.floating-panel .link-rows-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.floating-panel-link-row {
  display: flex;
  justify-content: space-between;
}

.floating-panel-link-row div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.floating-panel-link-row .icon {
  width: 22px;
  height: 22px;
  gap: 4px;
}

.floating-panel .floating-panel-link-row a.con-button {
  /* min-width: 100px; */
  margin: 0;
}
