
  .authoring-tool .divider {
    margin-left: 20px;
    text-transform: capitalize;
    padding: 5px;
  }

  .authoring-tool .divider::before {
    content: attr(data-text);
    visibility: hidden;
    height: 0;
    display: block;
  }

  .authoring-tool .divider span {
    display: inline-block;
  }