main .section:has(.page-list) > div {
  max-width: 1000px;
  padding-left: 16px;
  padding-right: 16px;
}

main .section:has(.page-list) h2 {
  margin-top: 80px;
  text-align: left;
}

main .page-list.appear {
  opacity: 1;
}

main .page-list {
  text-align: left;
  columns: 235px;
  margin: auto;
  margin-bottom: 64px;
}

main .page-list p {
  margin: 0;
}

main .page-list p a:any-link {
  font-weight: var(--body-font-weight);
  color: var(--body-color);
}

