/* TOC container using global CSS variables */
.toc-container {
  display: block;
  width: 100%;
  padding: 20px;
  border-top: 1px solid var(--color-light-gray);
  border-bottom: 1px solid var(--color-light-gray);
  cursor: pointer;
  position: sticky;
  top: 40px;
  background: var(--color-white);
  z-index: 1;
}

main .icon {
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .toc-container {
    position: static;
    cursor: default;
    width: 545px;
    margin: 0 auto;
  }
  
  .toc-container .toc-content {
    display: block;
  }
  
  .toc-container .toc-social-icons {
    display: flex;
  }
  
  .toc-container .toc-title::after {
    display: none;
  }
}

@media (min-width: 1200px) {
  .toc-container {
    position: static;
    width: 310px;
    margin: 0;
    z-index: 100;
    border-top: none;
    border-bottom: none;
  }
}

.toc-title {
  color: var(--color-black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  position: relative;
  padding-right: 20px;
  outline: none;
}

.toc-title:focus {
  outline: 2px solid var(--color-background-accent-default);
  outline-offset: 2px;
}

.toc-title::after {
  content: '';
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url('/express/code/icons/chevron.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.toc-container.open .toc-title::after {
  background-image: url('/express/code/icons/chevron.svg');
  transform: translateY(-50%) rotate(180deg);
}

.toc-container.open .toc-title {
  padding-bottom: 8px;
}

.toc-content {
  display: none;
}

.toc-container.open .toc-content {
  display: block;
}

main .toc-content a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--color-background-accent-default);
  font-style: normal;
  font-weight: 400;
  position: relative;
}

main .toc-content a:hover {
  font-weight: 700;
}

main .toc-content a:hover::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 8px;
  width: 2px;
  height: calc(100% - 16px);
  background-color: var(--color-light-gray);
}

main .toc-content a:focus {
  outline: 2px solid var(--color-background-accent-default);
  outline-offset: 2px;
}

.toc-content a:last-child {
  border-bottom: none;
}

.toc-social-icons {
  display: none;
  gap: var(--spacing-200);
  margin-top: var(--spacing-300);
  padding: 0;
}

.toc-container.open .toc-social-icons {
  display: flex;
}
