.image-list {
  margin: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.image-list img {
  width: 300px;
  margin: 12.5px;
}

.image-list .mobile-only {
  display: block;
}
.image-list .desktop-only {
  display: none;
}


@media (min-width: 900px) {
  .image-list .mobile-only {
    display: none;
  }
  .image-list .desktop-only {
    display: block;
  }

  .image-list {
    margin: 45px;
  }
  .image-list.xl img {
    width: 810px;
  }

  .image-list.l img {
    margin: 15px;
    width: 375px;
  }

  .image-list img {
    margin: 15px;
    width: 240px;
  }

  .image-list.s img {
    margin: 11px;
    width: 180px;
  }

  .image-list.xs img {
    margin: 11px;
    width: 140px;
  }

}

@media (min-width: 1200px) {

  .image-list {
    margin: 60px auto;
  }

  .image-list.xl img {
    margin: 0;
    width: 1080px;
  }

  .image-list.l img {
    margin: 20px;
    width: 500px;
  }

  .image-list img {
    margin: 15px;
    width: 330px;
  }

  .image-list.s img {
    margin: 15px;
    width: 240px;
  }

  .image-list.xs img {
    margin: 14px;
    width: 188px;
  }
}
