.blog-article-marquee {
  margin: 0 auto;
  padding:  var(--spacing-600) 0;
  box-sizing: border-box;
  max-width: var(--ax-grid-container-width);
  --font-color: #131313;  /* Body color */
}

main .section .blog-article-marquee p {
  margin: 0;
}

.blog-article-marquee .blog-article-marquee-inner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
}

.blog-article-marquee .blog-article-marquee-row {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-600);
}

.blog-article-marquee .blog-article-marquee-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  padding: 0 var(--spacing-300);
}

 

.blog-article-marquee .blog-article-marquee-content h1 {
  margin: 0;
  color: var(--font-color);
  font-size: var(--heading-font-size-ml);
  font-weight: 900;
  line-height: 104%;
}

.blog-article-marquee .blog-article-marquee-content :is(h2, h3, h4, h5, h6) {
  margin: 0;
}

.blog-article-marquee .blog-article-marquee-content h1 + p,
.blog-article-marquee .blog-article-marquee-subcopy {
  margin: 0;
  color: var(--color-dark-gray);
  font-size: var(--ax-body-s-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.blog-article-marquee .blog-article-marquee-eyebrow {
  color: var(--font-color);
  font-size: var(--ax-body-s-size);
  font-weight: 700;
  line-height: 137.5%;
}

.blog-article-marquee .blog-article-marquee-content .blog-article-marquee-product-name {
  margin: 0;
  color: var(--font-color);
  font-size: var(--ax-body-m-size);
  font-weight: 700;
  line-height: 130%;
}

.blog-article-marquee .blog-article-marquee-media {
  display: flex;
  justify-content: center;
}

.blog-article-marquee .blog-article-marquee-media :is(picture, img) {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.blog-article-marquee .blog-article-marquee-products {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  margin-top: var(--spacing-400);
}

.blog-article-marquee .blog-article-marquee-product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--spacing-300);
  align-items: center;
}

.blog-article-marquee .blog-article-marquee-product-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  flex-shrink: 0;
}

.blog-article-marquee .blog-article-marquee-product-media :is(picture, img) {
  display: block;
  width: 48px;
  height: 48px;
}
.blog-article-marquee .blog-article-marquee-product-media img {
  border-radius: 24px;
}

.blog-article-marquee .blog-article-marquee-product-copy {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
  height: 100%;
}

.blog-article-marquee .blog-article-marquee-product-copy p {
  color: var(--color-dark-gray);
  font-size: var(--ax-body-xs-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.blog-article-marquee .blog-article-marquee-product-date {
  margin: 0;
  color: var(--color-dark-gray);
  font-size: var(--ax-body-xxs-size);
  line-height: 130%;
}

.blog-article-marquee a.con-button.blue:any-link {
  margin: var(--spacing-400) 0 0;
  font-size: var(--ax-body-m-size);
  line-height: 22px;
  min-width: 108px;
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .blog-article-marquee {
    padding: var(--spacing-600) 32px;
  }

  .blog-article-marquee .blog-article-marquee-row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ax-grid-gutter);
    align-items: center;
  }

  .blog-article-marquee .blog-article-marquee-content {
    width: var(--ax-grid-6-col-width);
    gap: var(--spacing-100);
    padding: 0;
  }

  .blog-article-marquee .blog-article-marquee-media {
    width: var(--ax-grid-6-col-width);
    justify-content: flex-end;
  }

  .blog-article-marquee .blog-article-marquee-media picture,
  .blog-article-marquee .blog-article-marquee-media img {
    max-width: 640px;
    border-radius: 20px;
  }
}

@media (min-width: 1200px) {
  .blog-article-marquee {
    padding: var(--spacing-900) var(--spacing-600);
  }
  .blog-article-marquee .blog-article-marquee-content h1,
  .blog-article-marquee .blog-article-marquee-content h2 {
    font-size: var(--heading-font-size-l);
    line-height: 1.2;
    font-weight: 900;
  }

  .blog-article-marquee .blog-article-marquee-products {
    flex-direction: row;
    gap: var(--spacing-400);
  }

  .blog-article-marquee .blog-article-marquee-product {
    flex: 1;
  }

  .blog-article-marquee .blog-article-marquee-row {
    gap: var(--ax-grid-gutter);
  }



  .blog-article-marquee .blog-article-marquee-media picture,
  .blog-article-marquee .blog-article-marquee-media img {
    max-width: unset;
  }
}
 