main .section .discover-cards {
    max-width: none;
    text-align: center;
}

.section:not([data-padding='none']):not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .discover-cards:first-child {
    padding-top: 60px;
}

.discover-cards {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.discover-cards .sub-header {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 10px 0 8px 0;
    padding-left: 20px;
    padding-right: 20px;
}
.discover-cards .cards-container {
    max-width: 1700px;
}
.discover-cards .cards-container .card {
    min-width: 294px;
    border: 1px solid white;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
    flex: 1 1 calc(33.33% - 32px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 16px;
    margin: 9px -7px 10px auto;
}
.discover-cards.flip {
  height: 550px;
}
.discover-cards.flip .cards-container .card {
  background: unset;
  border: none;
}

.discover-cards.flip h1, 
.discover-cards.flip h2 {
  font-size: var(--heading-font-size-s);
}
.discover-cards.m-heading h1,
.discover-cards.m-heading h2 {
  font-size: var(--heading-font-size-m);
}
/* Default style - centered */
.discover-cards.flip .cards-container.gallery {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  gap: 16px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 3px 16px;
  margin-top: 29px;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1300px) {
  .discover-cards.flip .cards-container.gallery {
    justify-content: center;
    width: fit-content;
  }
}

/* Switch to left-aligned on smaller screens */
@media (max-width: 1050px) {
  .discover-cards.flip .cards-container.gallery {
    justify-content: start;
    width: 100%;
  }
}

.discover-cards.flip .cards-container .card.gallery--item {
  margin: 0;
  padding: 0;
}
.discover-cards .center-title {
    text-align: center;
}
.discover-cards .center-title h3 {
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
}
.discover-cards .gallery-control {
    padding-top: 11px;
}
.discover-cards .gallery-control .status {
    display: none;
}
.discover-cards .cards-container .card .text-content {
    text-align: left;
}
.discover-cards .cards-container .card .text-content .header {
    text-align: left;
    font-size: 20px;
    margin-top: 17px;
}
.discover-cards .cards-container .card .text-content .body {
    font-size: 16px;
    width: 262px;
    margin-top: 8px;
    margin-bottom: 2px;
}
.discover-cards .cards-container .card picture img.short {
    height: 147px;
    margin-top: 6px;
}
.discover-cards .card .button-container {
    text-align: left;
}
.section .discover-cards .card .button-container a {
    background-color: #292929;
    color: var(--color-white);
    border: none;
    margin-top: 32px;
    margin-left: 0px
}

.discover-cards .cards-container.gallery {
    scroll-padding-left: 20px;
}
.discover-cards .cards-container .card:first-child {
    margin-left: 20px;
}

@media (min-width: 600px) {
    .discover-cards .center-title h3 {
        font-size: 36px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .discover-cards .cards-container .card {
        min-width: 399px;
        max-width: 399px;
        margin: 9px -5px 10px auto;
    }
    .discover-cards .cards-container .card .text-content .header {
        font-size: 28px;
        margin-top: 10px;
    }
    .discover-cards .cards-container .card .text-content .body {
        width: auto;
    }
    .discover-cards .cards-container .card .text-content {
        text-align: left;
        width: 351px;
        margin-left: auto;
        margin-right: auto;
    }
    .discover-cards .gallery-control {
        padding-top: 9px;
    }
    .discover-cards .cards-container .card picture img.short {
        width: auto;
        height: 198px;
    }
    .discover-cards .cards-container.gallery {
        scroll-padding-left: 60px;
    }
    .discover-cards .cards-container .card:first-child {
        margin-left: 60px;
    }
}

@media (min-width: 1000px) {
  .discover-cards.flip h1,
  .discover-cards.flip h2 {
    font-size: var(--heading-font-size-l);
  }
}

@media (min-width: 1680px) {
    .discover-cards .cards-container {
        margin: auto;
    }
    .discover-cards .cards-container.gallery {
        scroll-padding-left: 100px;
    }
    .discover-cards .cards-container .card:first-child {
        margin-left: 100px;
    }
}

.gallery,
.discover-cards.flip .gallery {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0 16px;
  scroll-padding: 0 16px;
}

.discover-cards.flip .gallery {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
}

.gallery::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

.gallery.center.gallery--all-displayed {
    justify-content: center;
}

.gallery--item {
    scroll-snap-align: start;
    width: calc(100% - 16px);
}

.gallery-control {
    padding: 16px 16px 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

.gallery-control.hide,
.gallery-control .hide {
    display: none;
}

.gallery-control.loading {
    visibility: hidden;
}

.gallery-control button {
    all: unset;
    cursor: pointer;
    height: 2rem;
    box-shadow: 0px 2px 8px 0px #00000029;
    border-radius: 50px;
}

.gallery-control button:focus {
    outline: revert;
}

.gallery-control button:hover:not(:disabled) circle {
    fill: var(--color-gray-300);
}

.gallery-control button:disabled {
    cursor: auto;
}

.gallery-control button:disabled path {
    stroke: var(--color-gray-300);
}

.gallery-control .status {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    box-shadow: 0px 2px 8px 0px #00000029;
    padding: 8px 16px;
    border-radius: 50px;
    height: 32px;
    box-sizing: border-box;
}

.gallery-control .status .dot {
    border-radius: 50px;
    width: 6px;
    height: 6px;
    background-color: #717171;
}

.gallery-control .status .dot.curr {
    width: 30px;
    background-color: #686DF4;
}

.discover-cards.flip .card {
  background-color: transparent;
  min-width: initial;
  width: 250px;
  max-width: initial;
  height: 380px;
  max-height: 380px;
  cursor: pointer;
}

.discover-cards.flip .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 350ms ease-out;
  transform-style: preserve-3d;
}

.discover-cards.flip .card.is-flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.discover-cards.flip .flip-card-front, 
.discover-cards.flip .flip-card-back {
  font-size: 22px;
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
  border-radius: 16px;
  padding: 32px;
  box-sizing: border-box;
}
.discover-cards.flip .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  transform: rotateY(180deg);
}

.discover-cards.flip .flip-card-back .scrollable-content {
  position: absolute;
  top: 24px;
  left: 16px;
  right: 16px;
  bottom: 48px;
  overflow-y: auto;
  padding: 0;
  line-height: 1.3;
  font-size: 16px;
}

.discover-cards.flip .flip-card-back .scrollable-content::-webkit-scrollbar {
  display: none;
}

.discover-cards.flip .flip-card-front img {
  width: 200px;
  height: 200px;
}

.discover-cards.flip .plus-icon-wrapper,
.discover-cards.flip .minus-icon-wrapper {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover-cards.flip .plus-icon-wrapper img,
.discover-cards.flip .minus-icon-wrapper img {
  width: 12px;
  height: 12px;
}

.discover-cards.flip .minus-icon-wrapper {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.discover-cards.flip .cards-container.gallery::-webkit-scrollbar {
  display: none;
}

