.how-to-v2 {
  padding-left: 40px;
  padding-right: 40px;
}

.how-to-v2 h2 {
  font-size: 22px;
  text-align: center;
  padding: 0 24px;
  margin-bottom: 20px;
}

.how-to-v2 ol {
  list-style-type: none;
  font-size: 21px;
  font-weight: 900;
}

.how-to-v2 ol li {
  padding: 8px 0;
  cursor: pointer;
  transition: all 0.21s;
  display: flex;
}

.how-to-v2 ol li .step-indicator {
  width: 5px;
  min-width: 5px;
  background: linear-gradient(-96.68deg, #FF4885 5.24%, #FC7D00 94.76%), #686DF4;
  border-radius: 2.5px;
}

.how-to-v2 ol li .step-content {
  padding: 8px 26px;
  margin: 0;
}

.how-to-v2 ol li .step-content:has(.milo-video) {
  width: 100%;
}

.how-to-v2 ol li .step-indicator:has(+ div .closed) {
  background: linear-gradient(95.55deg, rgba(255, 255, 255, 0.5) 4.43%, rgba(255, 255, 255, 0.3) 93.65%), #8F8F8F;
}

.how-to-v2 ol li h3 {
  text-align: left;
  font-size: var(--body-font-size-l);
  line-height: 23px;
  font-weight: 700;
}

.how-to-v2 ol li .detail-container {
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.how-to-v2 ol li .detail-text {
  padding-top: 10px;
}

/* so that there is no initial re-paint */
.how-to-v2 ol li:first-child .detail-container {
  max-height: none;
}

.how-to-v2 .milo-video,
.how-to-v2 picture img {
  border-radius: 16px;
  overflow: hidden;
  max-width: 533px;
  width: 100%;
}

main .section:has(.how-to-v2) .content em {
  font-style: normal;
  background: linear-gradient(140.08deg, #FF4DD2 67.54%, #FF993B 76.42%);
  background-size: 108% 108%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

.how-to-v2 em {
  font-style: normal;
  background: linear-gradient(140.08deg, #FF4DD2 67.54%, #FF993B 76.42%);
  background-size: 108% 108%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

.how-to-v2 .steps-content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 4px;
  margin-bottom: var(--spacing-900);
}

.how-to-v2 .steps-content .media-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.how-to-v2 .steps-content .media-container::before {
  content: '';
  position: absolute;
  width: 170%;
  height: 135%;
  left: -175px;
  top: -60px;
  z-index: -1;
  background-image: 
    linear-gradient(to bottom, transparent 85%, white 100%),
    linear-gradient(to right, transparent 85%, white 100%),
    linear-gradient(to left, transparent 85%, white 100%),
    linear-gradient(to top, transparent 85%, white 100%),
    var(--background-image);
  background-size: cover;
  background-position: center;
}

.how-to-v2 ol.steps {
  margin: 14px 0 0;
  padding: 0;
}

.how-to-v2 ol.steps .step .step-content:has(.detail-container.closed) h3:not(:has(picture), :has(.milo-video)):hover {
  background-color: var(--color-gray-100);
  margin: -8px 0 -8px -16px; 
  padding: 8px 0 8px 16px;
}

.how-to-v2 .video-container {
  margin-top: 20px;
}

.how-to-v2 .image-container {
  margin-top: 20px;
  width: 100%; 
  overflow: hidden;
}

.how-to-v2 .image-container img,
.how-to-v2 .video-container > * {
  border-radius: 16px;
  max-width: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.how-to-v2 .video-container > * {
  margin-left: auto;
  margin-right: auto;
  height: unset;
}

.how-to-v2 {
  /* note we don't set margin here because background gradient has to go past into this container */
  margin: 0;
  max-width: unset;
}

main .section > .content:has( + .how-to-v2) h2 {
  font-size: var(--heading-font-size-s);
  padding-bottom: 40px;
}

@media (min-width: 400px) {
  main:has(.how-to-v2) .content {
    max-width: unset;
    margin-left: 20px;
    margin-right: 20px;
  }

  main .section > .content:has( + .how-to-v2) h2 {
    font-size: var(--heading-font-size-m);
  }
  
  .how-to-v2 ol li h3 {
    font-size: var(--heading-font-size-s);
    line-height: 28px;
  }
}

@media (min-width: 768px) {
  .how-to-v2 h2 {
    font-size: 28px;
  }

  .how-to-v2 {
    max-width: 1252px;
    margin: auto;
  }

  main .section > .content:has( + .how-to-v2) h2 {
    font-size: var(--heading-font-size-l);
  }

  .how-to-v2 .steps-content {
    display: flex;
    flex-direction: row;
    padding: 0 24px;
    justify-content: center;
    align-items: center;
  }

  .how-to-v2 .steps-content > * {
    flex: 1 1 50%;
    box-sizing: border-box;
  }

  .how-to-v2 .image-container,
  .how-to-v2 .video-container {
    align-items: center;
    display: inline-grid;
  }

  .how-to-v2 .image-container img {
    height: unset;
  }

  .how-to-v2 .steps-content .steps {
    padding-left: 20px;
  }

  .how-to-v2 .steps-content .media-container::before {
    width: 70vw;
    max-width: 850px;
    height: calc(55vh + (20 * (100vw - 768px) / 432));
    max-height: 760px;
    top: -150px;
    background-image: 
      linear-gradient(to bottom, transparent 85%, white 100%),
      linear-gradient(to right, transparent 85%, white 100%),
      linear-gradient(to left, transparent 85%, white 100%),
      linear-gradient(to top, transparent 85%, white 100%),
      var(--background-image);
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1200px) {
  .how-to-v2 .steps-content .media-container::before {
    height: 70vh;
  }
}

