.section .ribbon-banner {
    text-align: left;
    max-width: initial;
    font-weight: 700;
    color: var(--Alias-content-typography-Heading, #131313);
    font-size: 14px;
}
.ribbon-banner .content {
    padding: 12px 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.ribbon-banner strong {
    font-weight: 900;
    font-size: 14px;
}

.section .ribbon-banner a.con-button.outline {
    margin: 0;
    white-space: nowrap;
    overflow: initial;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-gray-900);
    outline: 2px solid var(--color-gray-900);
    outline-offset: 0;
    border: none;
}
.section .ribbon-banner a.con-button.outline:hover {
    background-color: rgba(19, 19, 19, 0.08);
    border-color: transparent;
    /* keep text and outline intact */
}
.ribbon-banner.text-light {
    color: white;
}
.ribbon-banner.text-light a.con-button.outline {
    color: white;
    border-color: transparent;
    outline-color: white;
}
.ribbon-banner.text-light a.con-button.outline:hover {
    background-color: rgba(255, 255, 255, 0.16);
    border-color: transparent;
    color: #e1e1e1;
    outline-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
    .section .ribbon-banner {
        text-align: center;
        font-size: 14px;
    }
    .ribbon-banner strong {
        font-size: 14px;
    }
}
