.section .ribbon-banner {
    text-align: left;
    max-width: initial;
    font-weight: 700;
    color: var(--Alias-content-typography-Heading, #131313);
    font-size: 14px;
}
.ribbon-banner .content {
    padding: 12px 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.ribbon-banner strong {
    font-weight: 900;
    font-size: 14px;
}

.section .ribbon-banner a.con-button.outline {
    margin: 0;
    white-space: nowrap;
    overflow: initial;
    background-color: transparent;
    border-color: transparent;
    color: var(--color-gray-900);
    outline: 2px solid var(--color-gray-900);
    outline-offset: 0;
    border: none;
    transition: background-color 0.2s ease;
}
.section .ribbon-banner a.con-button.outline:hover {
    background-color: var(--Palette-gray-100, #E9E9E9);
    border-color: transparent;
    color: var(--color-gray-900);
}
.section .ribbon-banner a.con-button.outline:active {
    background-color: var(--Palette-gray-200, #E1E1E1);
    border-color: transparent;
    color: var(--color-gray-900);
}
.section .ribbon-banner a.con-button.outline:focus-visible {
    background-color: var(--Palette-gray-200, #E1E1E1);
    color: var(--color-gray-900);
    outline-color: var(--color-info-accent);
    outline-offset: 2px;
    box-shadow: inset 0 0 0 2px var(--color-gray-900);
}
.ribbon-banner.text-light {
    color: white;
}
.ribbon-banner.text-light a.con-button.outline {
    color: white;
    border-color: transparent;
    outline-color: white;
}
.ribbon-banner.text-light a.con-button.outline:hover {
    background-color: var(--Palette-gray-100, #E9E9E9);
    border-color: transparent;
    color: var(--color-gray-900);
    outline-color: var(--color-info-accent);
}
.ribbon-banner.text-light a.con-button.outline:active {
    background-color: var(--Palette-gray-200, #E1E1E1);
    border-color: transparent;
    color: var(--color-gray-900);
    outline-color: var(--color-info-accent);
}
.ribbon-banner.text-light a.con-button.outline:focus-visible {
    background-color: var(--Palette-gray-200, #E1E1E1);
    color: var(--color-gray-900);
    outline-color: var(--color-info-accent);
    outline-offset: 2px;
    box-shadow: inset 0 0 0 2px var(--color-gray-900);
}

@media screen and (min-width: 768px) {
    .section .ribbon-banner {
        text-align: center;
        font-size: 14px;
    }
    .ribbon-banner strong {
        font-size: 14px;
    }
}
