:root {
  --figma-spacing-0: 0px;
  --figma-spacing-50: 2px;
  --figma-spacing-75: 4px;
  --figma-spacing-80: 6px;
  --figma-spacing-100: 8px;
  --figma-spacing-200: 12px;
  --figma-spacing-300: 16px;
  --figma-spacing-400: 24px;
  --figma-spacing-500: 32px;
  --figma-spacing-600: 40px;
  --figma-spacing-700: 48px;
  --figma-spacing-800: 64px;
  --figma-spacing-900: 80px;
  --figma-spacing-1000: 96px;
}

main .section .pdpx-global-container p {
  margin: 0;
}
.pdpx-global-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--figma-spacing-400);
  display: flex;
  gap: var(--figma-spacing-400);
  align-items: flex-start;
}
.pdpx-product-info-heading-section-container {
  display: flex;
  flex-direction: row;
  gap: var(--figma-spacing-400);
  align-items: baseline;
  margin-bottom: var(--figma-spacing-500);
}
.pdpx-title-and-ratings-container {
  max-width: 64%;
}
.pdpx-price-info-row {
  display: flex;
  align-items: baseline;
  gap: var(--figma-spacing-75);
}
.pdpx-price-label {
  font-size: 20px;
  font-weight: 700;
}
.pdpx-compare-price-label {
  text-decoration: line-through;
  font-size: 14px;
}
.pdpx-compare-price-info-label {
  font-size: 14px;
}
.pdpx-compare-price-info-icon {
  width: 12px;
}
.pdpx-savings-text {
  font-size: 12px;
  font-weight: 700;
  color: #05834e;
}
.pdpx-price-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pdpx-product-hero-image {
  border-radius: 12px;
}
.pdpx-star-ratings-container {
  display: flex;
  flex-direction: row;
}
.pdpx-product-info-header-ratings-star {
  width: 17px;
}
.pdpx-product-ratings-lockup-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--figma-spacing-75);
}
.pdpx-delivery-estimate-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e0e2ff;
  border-radius: 8px;
  width: fit-content;
  padding: var(--figma-spacing-100);
  gap: var(--figma-spacing-75);
  margin-bottom: var(--figma-spacing-400);
}
.pdpx-product-hero-image-container {
  margin-bottom: var(--figma-spacing-200);
}

.pdpx-image-thumbnail-carousel-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: var(--figma-spacing-100);
}
.pdpx-image-thumbnail-carousel-item {
  flex-shrink: 0;
  width: 76px;
  height: 76px;
  border: 0px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.pdpx-image-thumbnail-carousel-item-image {
  border-radius: 8px;
}
.pdpx-product-images-container,
.pdpx-product-info-container {
  width: 50%;
}

/* Pill Selector */

.pdpx-pill-selector-label {
  display: block;
  font-weight: 700;
  margin-bottom: var(--figma-spacing-100);
}
.pdpx-pill-selector-label-label {
  font-weight: 700;
}
.pdpx-pill-selector-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--figma-spacing-100);
}

.pdpx-pill-selector-options-container {
  display: flex;
  flex-direction: row;
  gap: var(--figma-spacing-80);
}

.pdpx-pill-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #dadada;
  padding: 0px;
  cursor: pointer;
}
.pdpx-pill-image-container {
  width: 54px;
  height: 54px;
}
.pdpx-mini-pill-image {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.pdpx-mini-pill-price {
  font-size: 14px;
}

.pdpx-pill-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--figma-spacing-75);
  padding: var(--figma-spacing-100);
  padding-right: var(--figma-spacing-400);
}
.pdpx-pill-text-name {
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.pdpx-pill-text-price {
  font-size: 14px;
  font-weight: 400;
  color: #505050;
}
.pdpx-pill-selector-container {
  margin-bottom: var(--figma-spacing-400);
}
.pdpx-quantity-selector-container {
  margin-bottom: var(--figma-spacing-400);
}
.pdpx-quantity-selector-label {
  color: #505050;
  margin-right: var(--figma-spacing-600);
}
.pdpx-quantity-selector {
  padding: var(--figma-spacing-100);
  cursor: pointer;
}
.pdpx-product-details-section-title-container {
  border-bottom: 1px solid #686868;
  padding-bottom: var(--figma-spacing-300);
}
.pdpx-product-details-section-item-container {
  border-bottom: 1px solid #686868;
  padding: var(--figma-spacing-300);
  cursor: pointer;
}
.pdpx-product-details-section-item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pdpx-product-details-section-item-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #131313;
  padding-bottom: 5px;
  width: 90%;
 
}

.pdpx-product-details-section-item-icon {
  padding: var(--figma-spacing-100);
}
.pdpx-product-details-section-item-description {
  display: none;
  visibility: hidden;
}
.pdpx-product-details-section-item-container.expanded
  .pdpx-product-details-section-item-description {
  display: block;
  visibility: visible;
}
.pdpx-product-details-section-item-container.expanded .pdpx-product-details-section-item-icon {
  background-image: url('/express/code/icons/minus-sign.svg');
  background-repeat: no-repeat;
  background-position: center;
  
}
.pdpx-product-details-section-item-container.collapsed .pdpx-product-details-section-item-icon {
  background-image: url('/express/code/icons/plus-sign.svg');
  background-repeat: no-repeat;
  background-position: center;
}
