main .section .pdpx-global-container  p {
  margin: 0;
}
.pdpx-global-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  gap: 24px;
  align-items: flex-start;
}
.pdpx-product-info-heading-section-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: baseline;
  margin-bottom: 32px;
}
.pdpx-title-and-ratings-container {
  max-width: 64%;
}
.pdpx-price-info-row {
  display: flex;
  align-items: baseline;
  gap: 4px;
}
.pdpx-price-label {
  font-size: 20px;
  font-weight: 700;
}
.pdpx-compare-price-label { 
  text-decoration: line-through;
  font-size: 14px;
}
.pdpx-compare-price-info-label {
  font-size: 14px;
}
.pdpx-compare-price-info-icon {
  width: 12px;
}
.pdpx-savings-text {
  font-size: 12px;
  font-weight: 700;
  color: #05834e;
}
.pdpx-price-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pdpx-product-hero-image {
  border-radius: 12px;
}
.pdpx-star-ratings-container {
  display: flex;
  flex-direction: row;
}
.pdpx-product-info-header-ratings-star {
  width: 17px;
}
.pdpx-product-ratings-lockup-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4px;
}
.pdpx-delivery-estimate-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #E0E2FF;
  border-radius: 8px;
  width: fit-content;
  padding: 8px;
  gap: 4px;
}
.pdpx-product-hero-image-container {
  margin-bottom: 12px;
}

.pdpx-image-thumbnail-carousel-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 8px;
}
.pdpx-image-thumbnail-carousel-item {
  flex-shrink: 0;
  width: 76px;
  height: 76px;
  border: 0px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.pdpx-image-thumbnail-carousel-item-image {
  border-radius: 8px;
}
.pdpx-product-images-container, .pdpx-product-info-container {
  width: 50%;
}
