.steps {
  margin-top: 56px;
  display: -ms-grid; /* stylelint-disable-line */
  display: grid; /* stylelint-disable-line */
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.steps h2 {
  text-align: center;
}

.steps h2,
.steps h3 {
  margin: 0;
}

.steps h3 {
  font-size: var(--heading-font-size-s);
  text-align: left;
  line-height: 26px;
  margin-top: 0;
}

.steps p {
  font-size: var(--body-font-size-s);
  text-align: left;
  margin: 4px 0;
}

.steps > div {
  display: -webkit-box; /* stylelint-disable-line */
  display: -ms-flexbox; /* stylelint-disable-line */
  display: flex; /* stylelint-disable-line */
  padding: 20px;
  border-radius: 12px;
  background-color: var(--color-gray-700);
  color: var(--color-white);
}

.steps .step-image {
  margin-right: 20px;
}

.steps .step-image svg,
.steps .step-image img.icon {
  width: 40px;
  max-width: unset;
  height: 40px;
  margin: 4px 0;
}

.steps .step-description {
  width: 100%;
}

.section:has(> .steps) {
  margin-top: 80px;
}

.section:has(> .steps.dark),
.section:has(> .steps.highlight) {
  padding: 120px 0;
}

.section:has(> .steps.dark) {
  background-color: var(--color-black);
}

.section:has(> .steps.dark) > *,
.section:has(> .steps.highlight) > * {
  color: var(--color-white);
}

.section:has(> .steps.dark) div > h2:first-of-type,
.section:has(> .steps.highlight) > div > h2:first-of-type {
  margin-top: 0;
}

.section:has(> .steps.dark) .steps > div {
  background-color: var(--color-gray-700);
}

.section:has(> .steps.highlight) {
  background: var(--gradient-highlight-vertical);
}

.section:has(> .steps.highlight) .steps > div {
  background-color: var(--color-white);
  color: var(--color-gray-800);
}

.steps .icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.section:has(.steps) .content {
  max-width: 375px;
}

@media (min-width: 900px) {
  .section:has(> .steps.dark),
  .section:has(> .steps.highlight) {
    padding: 80px 0;
  }
  .section:has(> .steps) > div,
  .section:has(> .steps.dark) > div,
  .section:has(> .steps.highlight) > div {
    max-width: 950px;
  }
  .steps {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: none;
  }
  .steps > div {
    display: -webkit-box; /* stylelint-disable-line */
    display: -ms-flexbox; /* stylelint-disable-line */
    display: flex; /* stylelint-disable-line */
  }
}

@media (min-width: 1200px) {
  .section:has(> .steps.dark) > div,
  .section:has(> .steps) > div {
    max-width: 1024px;
  }
}
