.link-list-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-top: 60px;
  max-width: 1200px;
  margin: auto;
}

.link-list {
  display: block;
  overflow: hidden;
  margin: 40px auto;
  width: 100%;
  text-align: left;
}

.link-list.centered {
  box-sizing: border-box;
  max-width: 92%;
  width: max-content;
}

.link-list.shaded {
  margin-top: 8px;
  margin-bottom: 24px;
  background-color: #EDEDED;
  border-radius: 100px;
}

.link-list h2,
.link-list h3,
.link-list h4 {
  text-align: left;
  padding-left: 32px;
}

.link-list h3 {
  font-size: var(--heading-font-size-m);
  margin-bottom: 20px;
  margin-top: 0;
}

.link-list p.button-container {
  margin: 0 10px;
  line-height: 0;
}

.link-list a.button.secondary {
  margin: 6px 0;
}

.link-list .carousel-container {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.link-list.shaded .carousel-container .carousel-platform {
  padding: 4px;
}

.link-list.centered .carousel-container .carousel-platform {
  box-sizing: border-box;
}
.link-list .carousel-platform {
  scroll-padding: 32px;
}

.link-list .carousel-platform p.button-container:first-child {
  margin-left: 32px;
}

.link-list.centered .carousel-platform p.button-container:first-child {
  margin-left: unset;
}

/* fullwidth variant */

.link-list-fullwidth-container > div.link-list-wrapper {
  box-sizing: border-box;
  width: fit-content;
  max-width: 100%;
}

.link-list-fullwidth-container > div.link-list-wrapper .link-list,
.link-list-fullwidth-container > div.link-list-wrapper .link-list h2,
.link-list-fullwidth-container > div.link-list-wrapper .link-list h3,
.link-list-fullwidth-container > div.link-list-wrapper .link-list h4 {
  text-align: center;
}

.link-list-fullwidth-container > div.link-list-wrapper .link-list .carousel-platform {
  margin-left: auto;
  margin-right: auto;
}

.hero-animation-wrapper + .link-list-wrapper .link-list {
  margin-top: 16px;
}

.link-list-wrapper .link-list.noarrows {
  margin-top: 0;
}

.link-list-wrapper .link-list.noarrows > div > div > p:first-of-type {
  font-weight: 800;
  font-size: 16px;
  margin: 0 12px 4px 12px;
}

.link-list-wrapper .link-list.noarrows .carousel-fader-right,
.link-list-wrapper .link-list.noarrows .carousel-fader-left {
  display: none;
}

.link-list-wrapper .link-list.noarrows p.button-container {
  margin: 0 8px;
}

.link-list-wrapper .link-list.noarrows p.button-container .button.medium.secondary {
  padding: 3px 14px;
}

.link-list.shaded p.button-container {
  margin: 0 2px;
}

.link-list.shaded p.button-container .button {
  margin: 0;
  padding: 2px 16px;
  background-color: transparent;
  color: var(--color-black);
  border: none;
}

.link-list.shaded p.button-container .button:hover,
.link-list.shaded p.button-container.active .button {
  background-color: var(--color-white);
}

/* fullwidth + leftalign variant */

.link-list-fullwidth-leftalign-container {
  padding-top: 0;
}

.link-list-fullwidth-leftalign-container > div.link-list-wrapper {
  margin-left: 0;
}

.link-list-fullwidth-leftalign-container ~ .section {
  padding-top: 0;
}

.link-list.large p.button-container .button {
  padding: 12px 24px;
  border-radius: 24px;
}

@media (min-width: 900px) {
  .link-list-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .link-list {
    text-align: left;
  }

  .link-list h2,
  .link-list h3,
  .link-list h4 {
    text-align: left;
  }

  .link-list .carousel-platform {
    scroll-padding: 0;
  }

  .link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list,
  .link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list h2,
  .link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list h3,
  .link-list-fullwidth-leftalign-container > div.link-list-wrapper .link-list h4 {
    padding-left: 0;
  }

  .link-list-fullwidth-leftalign-container .link-list .carousel-platform p.button-container:first-child {
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  .link-list-wrapper {
    padding-left: 55px;
    padding-right: 55px;
    max-width: 1200px;
  }
}
