.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page .background img {
  display: none;
}

.login-page .foreground {
  padding: 30px 0 32px;
}

.login-page .susi-tabs {
  background-color: white;
  border-radius: 16px;
}

.login-page .footer {
  border-radius: 0 0 16px 16px;
}

@media (min-width: 768px) {
  .login-page .foreground {
    position: absolute;
  }
  .login-page .background .m-background {
    display: block;
  }
}

@media (min-width: 1024px) {
  .login-page .background .m-background {
    display: none;
  }
  .login-page .background .tablet-background {
    display: block;
  }
}

@media (min-width: 1280px) {
  .login-page .background .tablet-background {
    display: none;
  }
  .login-page .background .l-background {
    display: block;
  }
}

@media (min-width: 1440px) {
  .login-page .background .l-background {
    display: none;
  }
  .login-page .background .desktop-background {
    display: block;
  }
}

@media (min-width: 1680px) {
  .login-page .background .desktop-background {
    display: none;
  }
  .login-page .background .xl-background {
    display: block;
  }
}

@media (min-width: 1920px) {
  .login-page .background .xl-background {
    display: none;
  }
  .login-page .background .xxl-background {
    display: block;
  }
}
