.login-page .background {
  opacity: 0.3;
  position: absolute;
}

.login-page .background img {
  height: 716px;
  width: auto;
  max-width: initial;
}

.login-page .foreground {
  padding: 30px 0 32px;
}

.login-page .susi-tabs {
  background-color: white;
  border-radius: 16px;
}

.login-page .footer {
  border-radius: 0 0 16px 16px;
}
