.compact-nav-carousel-container {
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    --mobile-template-height: 207px;
    --mobile-template-width: 207px;
    --mobile-template-border-radius: 16px;
    --four-ele-tablet-template-width: 123px; /* */
    --four-ele-tablet-template-height: 123px;
    --four-ele-template-height: 207px;
    --four-ele-template-width: 207px;
    --basic-carousel-fader-width: 53px;
    --carousel-offset: 16px;

  }
  
  .compact-nav-carousel-container .compact-nav-carousel-platform {
    position: relative;
    left: 0;
    width: max-content; 
    height: 360px;
    max-height: 500px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 8px;
      
    width: 100vw;
    left: calc(-1 *var(--carousel-offset));
  }


.compact-nav-carousel-container .compact-nav-carousel-platform .card:first-child {
  margin-left: var(--carousel-offset)
}

.compact-nav-carousel-container .compact-nav-carousel-platform .card:last-child{
  margin-right: var(--carousel-offset)
}

  
  .compact-nav-carousel-container:not(.controls-hidden) .compact-nav-carousel-platform::-webkit-scrollbar,
  .compact-nav-carousel-container .compact-nav-carousel-platform.infinity-scroll-loaded::-webkit-scrollbar {
    display: none;
  }
  
  .compact-nav-carousel-container .compact-nav-carousel-platform > * {
    flex-shrink: 0;
    scroll-snap-align: center; 
    margin: 0 10px;
  }
  
  .template-list-wrapper:has(.template-list.horizontal-fullwidth.four-rectangle) {
    max-width: unset;
  }
  
  /* basic carousel carousel caontainers */
  .template-list-wrapper:has(.template-list.horizontal-fullwidth.three.compact-nav-carousel),
  .template-list-wrapper:has(.template-list.horizontal-fullwidth.four-square.compact-nav-carousel) {
    margin: 0;
    padding-top: 0;
    max-width: unset;
  }
  .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel,
  .template-list.horizontal-fullwidth.four-square.compact-nav-carousel,
  .template-list.horizontal-fullwidth.three.compact-nav-carousel {
    padding: 0;
  }
  /* basic carousel platform */ 
  .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
    height: 135px
  }
  .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
    height: 238px
  }
  .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
    padding-bottom: 20px;
    height: 385px;
  }
  /* basic carousel template */
  .template-list.horizontal-fullwidth.three.compact-nav-carousel .template {
    min-height: unset;
  }
  /* basic carousel nav */
  .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-left,
  .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-right {
    display: none;
  }
  /* basic carousel template img */
  .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
    width: 320px;
    height: 320px;
    border-radius: var(--mobile-template-border-radius);
  }
  .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
    width: var(--mobile-template-width);
    height: 122px;
    border-radius: var(--mobile-template-border-radius);
  }
  .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
    width: var(--mobile-template-width);
    height: var(--mobile-template-height);
    border-radius: var(--mobile-template-border-radius);
  }
  .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
    width: 216px;
    height: 384px;
    border-radius: var(--mobile-template-border-radius);
  }
  
  .compact-nav-carousel-container .template.compact-nav-carousel-element .button-container.singleton-hover {
    width: 222px;
    height: 362px;
    max-width: none;
    max-height: none;
    opacity: 1;
  }
   
  .compact-nav-carousel-container img,
  .compact-nav-carousel-container video {
    pointer-events: none;
  } 
  
  .compact-nav-carousel-container a.button.compact-nav-carousel-arrow::before {
    content: '';
    position: absolute;
    margin-top: 16px;
    width: 8px;
    height: 8px;
    border-top: solid 1px #724CDC;
    border-right: solid 1px #724CDC;
  }
  
  .compact-nav-carousel-container a.button.compact-nav-carousel-arrow-left::before {
    margin-left: 17px;
    transform: rotate(-135deg);
  }
  
  .compact-nav-carousel-container a.button.compact-nav-carousel-arrow-right {
    float: right;
  }
  
  .compact-nav-carousel-container a.button.compact-nav-carousel-arrow-right::before {
    margin-left: 15px;
    transform: rotate(45deg);
  }
  
  .compact-nav-carousel-container  .gallery-control button.arrow-hidden {
    pointer-events: none;
    opacity: 0.5;
  }

  .compact-nav-carousel-container.controls-hidden .compact-nav-carousel-platform {
    scroll-snap-type: none;
  }
  
  .compact-nav-carousel-container .compact-nav-carousel-platform .compact-nav-carousel-left-trigger,
  .compact-nav-carousel-container .compact-nav-carousel-platform .compact-nav-carousel-right-trigger{
    justify-self: stretch;
    align-self: stretch;
    width: 0;
    margin: 0;
  }
  
  @media (min-width: 600px) {
    /* basic carousel carousel caontainers */
    .template-list-wrapper:has(.template-list.horizontal-fullwidth.one.compact-nav-carousel)  {
      max-width: unset;
    }
    .template-list-wrapper:has(.template-list.horizontal-fullwidth.three.compact-nav-carousel),
    .template-list-wrapper:has(.template-list.horizontal-fullwidth.four-square.compact-nav-carousel)  {
      height: 150px;
    }
    .template-list-wrapper:has(.template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel)  {
      padding-top: 10px;
      height: 320px;
    }
    /* basic carousel nav */
    .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-left,
    .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-right,
    .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-left,
    .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-right,
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-left,
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-right,
    .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-left,
    .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-fader-right {
      display: none;
    }
    /* basic carousel template */
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .template {
      min-height: unset;
    }
    /* basic carousel template img */
    .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: 540px;
      height: 540px;
    }
    .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: 170px;
      height: 95px;
    }
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: var(--four-ele-tablet-template-width);
      height: var(--four-ele-tablet-template-height);
    }
    .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: var(--four-ele-tablet-template-width);
      height: 218px;
    }
    /* basic carousel platform */
    .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform,
    .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform,
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      margin: auto;
    }
    .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      max-height: unset;
      height: 540px;
    }
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      width: 540px;
      height: 135px
    }
    .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      width: 540px;
      height: 275px;
      margin: auto;
    }
    .compact-nav-carousel-left-trigger {
      margin-left: 0;
    }
    .compact-nav-carousel-right-trigger {
      margin-left: 0;
    }
    .compact-nav-carousel-container .template.compact-nav-carousel-element {
      scroll-snap-align: start;
    }
  }
  
  @media (min-width: 900px) {
    .compact-nav-carousel-container .compact-nav-carousel-platform::-webkit-scrollbar {
      display: none;
    }
    .compact-nav-carousel-container a.button.compact-nav-carousel-arrow {
      margin: 0 10px;
    }
    .compact-nav-carousel-container.controls-hidden .compact-nav-carousel-platform {
      scroll-snap-type: x mandatory;
    }
  
    .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a,
    .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a,
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a {
      margin-right: 0;
    }
  
    /* basic carousel carousel containers */
    .template-list-wrapper:has(.template-list.horizontal-fullwidth.three.compact-nav-carousel) {
      height: 210px;
    }
    .template-list-wrapper:has(.template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel)  {
      height: 420px;
    }
    .template-list-wrapper:has(.template-list.horizontal-fullwidth.four-square.compact-nav-carousel)  {
      height: 230px;
    }
    /* basic carousel template img */
    .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: 875px;
      height: 875px;
    }
    .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: 280px;
      height: 158px;
    }
    .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: var(--four-ele-template-width); 
      height: 368px;
    }
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform a picture img {
      width: var(--four-ele-template-width);
      height: var(--four-ele-template-height)
    }
    /* basic carousel platform */
    .template-list.horizontal-fullwidth.one.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      width: 875px;
      height: 865px;
    }
    .template-list.horizontal-fullwidth.three.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      width: 875px;
      height: 155px;
    }
    .template-list.horizontal-fullwidth.four-rectangle.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      width: 875px;
      height: 365px;
      margin: auto;
    }
    .template-list.horizontal-fullwidth.four-square.compact-nav-carousel .compact-nav-carousel-container .compact-nav-carousel-platform {
      width: 875px;
      height: 200px;
    }
    .template-list .template:not(.placeholder) .icon-free-badge {
      display: block;
      line-height: 23px;
    }
  }
  
  .compact-nav-carousel-container .compact-nav-carousel-platform.left-fader:not(.right-fader){
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0,0,0,1) 60px, rgba(0,0,0,1) calc(100% - 60px));
    mask-image: linear-gradient(to right, transparent, rgba(0,0,0,1) 60px, rgba(0,0,0,1) calc(100% - 60px));
  }
  .compact-nav-carousel-container .compact-nav-carousel-platform.right-fader:not(.left-fade){
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 60px, rgba(0,0,0,1) calc(100% - 60px), transparent);
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 60px, rgba(0,0,0,1) calc(100% - 60px), transparent);
  }
  .compact-nav-carousel-container .compact-nav-carousel-platform.left-fader.right-fader{
    -webkit-mask-image: linear-gradient(to right, transparent, rgba(0,0,0,1) 60px, rgba(0,0,0,1) calc(100% - 60px), transparent);
    mask-image: linear-gradient(to right, transparent, rgba(0,0,0,1) 60px, rgba(0,0,0,1) calc(100% - 60px), transparent);
  }
  
  
  
  .compact-nav-carousel-container .gallery-control {
    padding: 16px 16px 0;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
  }
  
  .compact-nav-carousel-container .gallery-control.hide,
  .compact-nav-carousel-container .gallery-control .hide {
    display: none;
  }
   
  
  .compact-nav-carousel-container .gallery-control button {
    all: unset;
    cursor: pointer;
    height: 2rem;
    box-shadow: 0px 2px 8px 0px #00000029;
    border-radius: 50px;
  }
  
  .compact-nav-carousel-container .gallery-control button:focus {
    outline: revert;
  }
  
  .compact-nav-carousel-container .gallery-control button:hover:not(:disabled) circle {
    fill: var(--color-gray-300);
  }
  
  .compact-nav-carousel-container .gallery-control button:disabled {
    cursor: auto;
  }
  
  .compact-nav-carousel-container .gallery-control button:disabled path {
    stroke: var(--color-gray-300);
  }
  
  .compact-nav-carousel-container .gallery-control .status {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    box-shadow: 0px 2px 8px 0px #00000029;
    padding: 8px 16px;
    border-radius: 50px;
    height: 32px;
    box-sizing: border-box;
  }
  
  .compact-nav-carousel-container .gallery-control .status .dot {
    border-radius: 50px;
    width: 6px;
    height: 6px;
    background-color: #717171;
  }
  
  .compact-nav-carousel-container .gallery-control .status .dot.curr {
    width: 30px;
    background-color: #686DF4;
  }

  @media (min-width: 768px) {

    .compact-nav-carousel-platform {
      --carousel-offset: 24px;
      left: calc(-1 *var(--carousel-offset));
    }

    .compact-nav-carousel-container .gallery-control  {
      padding: 32px 16px 0 32px;
    }
  }

  @media (min-width: 1280px) {

    .gen-ai-cards .gen-ai-cards-heading-section .gen-ai-cards-link {
      padding-right: 30px;
    }

  .gen-ai-cards .gen-ai-cards-heading-section .gen-ai-cards-link {
    min-width: unset;
  }

    .compact-nav-carousel-platform {
      --carousel-offset: 24px;
      left: calc(-1 *var(--carousel-offset));
    }
 
    .compact-nav-carousel-container .gallery-control  {
      padding: 24px 24px 0px 40px;
    }
  }

  @media (min-width: 1440px) {
    .compact-nav-carousel-container .compact-nav-carousel-platform {
      max-width: unset;
      width: 100vw;
      left: calc(-1 * var(--carousel-offset-large-screen));
    }
    .compact-nav-carousel-container .compact-nav-carousel-platform .card:first-child {
      margin-left: calc(  var(--carousel-offset-large-screen ));
    }

    .compact-nav-carousel-container .compact-nav-carousel-platform .card:last-child {
      margin-right: calc(  var(--carousel-offset-large-screen ));
    }
  }

