.section.get-started [role='tabpanel'].hide {
  display: none;
}
.section.get-started [role='tabpanel'] {
  margin: 20px var(--ax-grid-margin) 0 var(--ax-grid-margin);
  box-sizing: border-box;
  background: #f8f8f8;
  border-radius: 16px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
}

.get-started {
  padding-top: 40px;
  position: relative;
}

.get-started .headline {
  font-size: var(--body-font-size-xl);
  font-weight: 700;
  text-align: center;
  padding-bottom: 16px;
}

.get-started .tablist-container {
  margin-left: var(--ax-grid-margin);
  margin-right: var(--ax-grid-margin);
}

.get-started [role='tablist'] {
  display: flex;
  gap: 4px;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  background-color: var(--color-white);
  overflow-x: auto;
  scrollbar-width: none;
  margin: 0 auto;
  width: max-content;
}

.get-started [role='tablist']::-webkit-scrollbar {
  display: none;
}

.get-started [role='tab'] {
  display: flex;
  align-items: center;
  position: relative;
  gap: 6px;
  font-weight: 700;
  color: #505050;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  border-radius: 6px;
  padding: 12px 14px;
  line-height: 1.3;
  border: 0;
  background-color: var(--color-white);
  cursor: pointer;
  white-space: nowrap;
}

.get-started [role='tab']:hover {
  background-color: #e1e1e1;
}

.get-started [role='tab'][aria-selected='true'] {
  background-color: var(--color-black);
  color: var(--color-white);
}

.get-started [role='tab'][aria-selected='true'] svg path {
  fill: var(--color-white);
}

.get-started [role='tab']:last-of-type[aria-selected='true'] {
  background: linear-gradient(225deg, #B94900 0%, #F37 50.4%, #8B8DFE 100%);
}

.get-started [role='tab']:nth-last-of-type(2) {
  margin-right: 6px;
}

.get-started [role='tab']:last-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  bottom: 0;
  width: 2px;
  background-color: #e1e1e1;  
}

.get-started .icon {
  height: 22px;
  width: 22px;
}

@media (min-width: 600px) {
  .get-started [role='tab'] {
    font-size: var(--body-font-size-l );
  }
  .section.get-started [role='tabpanel'] {
    margin: -28px var(--ax-grid-margin) 0 var(--ax-grid-margin);
  }
  .get-started {
    z-index: 1;
  }
}
