.universal-carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.universal-carousel::-webkit-scrollbar {
  display: none;
}

.universal-carousel.center.universal-carousel--all-displayed {
  justify-content: center;
}

.universal-carousel--item {
  scroll-snap-align: start;
}

.universal-carousel-control {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.universal-carousel-control.hide,
.universal-carousel-control .hide {
  display: none;
}

.universal-carousel-control.loading {
  visibility: hidden;
}

.universal-carousel-control button {
  all: unset;
  cursor: pointer;
  height: 2rem;
  box-shadow: 0px 2px 8px 0px #00000029;
  border-radius: 50px;
}

.universal-carousel-control button:focus {
  outline: revert;
}

.universal-carousel-control button:hover:not(:disabled) circle {
  fill: var(--color-gray-300);
}

.universal-carousel-control button:disabled {
  cursor: auto;
}

.universal-carousel-control button:disabled path {
  stroke: var(--color-gray-300);
}
