.section > .headline .express-logo {
  width: unset;
  height: 30px;
  padding-top: 48px;
}

.section > .headline {
  text-align: center;
  max-width: 375px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section > .headline h1 { 
  font-size: 36px;
}

@media (min-width: 900px) {
  .section > .headline {
    max-width: 830px;
  }
  .section > .headline h1 { 
    font-size: 45px;
  }
}

@media (min-width: 1200px) {
  .section > .headline .block-row {
    max-width: 1024px;
  }
}
