/* preserving modal space for ux */
.dialog-modal:has(.susi-light) {
  width: 370px;
  min-height: 462px;
}

.dialog-modal:has(.susi-light.tabs) {
  width: 400px;
  min-height: 462px;
}

.section.ax-login-page .susi-light .express-logo,
.dialog-modal .susi-light .express-logo {
  padding-top: var(--spacing-500);
}

.susi-light {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: initial;
  --susi-grey: #e6e6e6;
}

.susi-tabs,
.susi-b2b {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.susi-tabs .express-logo,
.susi-b2b .express-logo {
  width: unset;
  height: 24px;
}

.susi-tabs .title,
.susi-b2b .title {
  font-size: var(--heading-font-size-s);
  line-height: 28.6px;
  font-weight: 900;
  padding-top: var(--spacing-200);
  text-align: center;
  max-width: 90%;
}

.susi-tabs [role='tablist'] {
  margin-top: var(--spacing-300);
  border-radius: 8px;
  padding: 4px;
  display: flex;
  gap: 4px;
  background-color: var(--susi-grey);
}

.susi-tabs [role='tablist']:has(:first-child:last-child) {
  display: none;
}

.susi-tabs [role='tab'] {
  border: initial;
  padding: var(--spacing-100) var(--spacing-200) 10px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  background-color: var(--susi-grey);
  color: #222222;
  line-height: 130%;
  cursor: pointer;
}

.susi-tabs [role='tab'][aria-selected='true'] {
  border-radius: 6px;
  background-color: var(--color-white);
}

.susi-tabs [role='tabpanel'] {
  width: 400px;
  max-width: 95vw;
}

.susi-tabs [role='tabpanel'].hide {
  display: none;
}

/* reduce CLS */
.susi-tabs [role='tabpanel'].standard .susi-wrapper {
  min-height: 457.5px;
}

.susi-tabs [role='tabpanel'].edu-express .susi-wrapper {
  min-height: 366.5px;
}

.susi-tabs .footer,
.susi-b2b .footer {
  font-size: var(--body-font-size-s);
  text-align: center;
  padding: var(--spacing-300) 0;
  font-weight: 700;
  color: #292929;
  line-height: 1.3;
}

.susi-tabs .footer a,
.susi-b2b .footer a {
  text-decoration: underline;
  color: initial;
  font-weight: 500;
}

.susi-tabs .footer.susi-banner,
.susi-b2b .footer.susi-banner {
  background-color: #f3f3f3;
  width: 100%;
}

.susi-tabs .footer.susi-bubbles {
  padding-bottom: var(--spacing-500);
}

.susi-tabs .footer.susi-bubbles h2 {
  font-size: var(--body-font-size-l);
  font-weight: 700;
  line-height: var(--heading-line-height);
  margin: 0;
}

.susi-tabs .footer .susi-bubble-container {
  padding-top: var(--spacing-100);
  display: flex;
  gap: var(--spacing-200);
  justify-content: center;
}

.susi-tabs .footer .susi-bubble {
  margin: 0;
  border-radius: 8px;
  padding: var(--spacing-200) var(--spacing-400);
  display: flex;
  flex-direction: column;
  font-size: var(--body-font-size-s);
  background-color: #f3f3f3;
}

/* ax-login-page section metadata styles */
.section.ax-login-page .susi-tabs {
  background-color: var(--color-white);
  border-radius: 16px;
}

.section.ax-login-page .susi-light {
  padding-bottom: var(--spacing-700);
}
.section.ax-login-page .susi-tabs .footer {
  border-radius: 8px;
}

@media (min-width: 768px) {
  .section.ax-login-page .susi-light {
    position: absolute;
    padding-top: 30px;
  }
  .section.ax-login-page .susi-tabs .footer {
    border-radius: 0 0 16px 16px;
  }
}
