.highlight {
  margin: 20px;
  padding: 0 16px 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.highlight .icon-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.highlight .icon-row .text {
  padding-left: 8px;
  font-size: 14px;
  font-weight: bold;
}

.highlight .icon-row img {
  width: 40px;
  height: 40px;
  max-width: unset;
}


@media (min-width: 768px) {
  .highlight {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 20px;
    flex: 1;
  }

  .highlight .icon-row + .icon-row {
    padding-left: 30px;
  }

  .highlight > :first-child {
    margin-left: auto;
  }

  .highlight > :last-child {
    margin-right: auto;
  }
}
