@import url('../template-promo-carousel/template-promo-carousel.css');

.section.ax-template-promo {
  box-sizing: border-box;
  padding: 20px 0px 0px 20px;
  max-width: unset;
  width: var(--ax-grid-12-col-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section.ax-template-promo .content {
  text-align: justify;
}

/* Consistent long-form spacing */
@media (min-width: 1024px) {
    main .section.ax-template-promo.long-form {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }
    
    main .section.ax-template-promo.long-form .content {
        max-width: var(--ax-grid-7-col-width);
        margin-left: calc(var(--ax-grid-3-col-width) + var(--spacing-600) + var(--ax-grid-gutter));
        margin-right: auto;
    }
}

@media (min-width: 1680px) {
    main .section.ax-template-promo.long-form {
        margin: 0 auto;
        padding: 20px 0;
    }
    
    main .section.ax-template-promo.long-form .content {
        margin: 0 auto;
    }
}

.section.ax-template-promo .content h1, .section.ax-template-promo .content h2 {
  color:var(--color-gray-800-variant);
  font-size: var(--heading-font-size-l);
  font-weight: var(--heading-font-weight-extra);
  text-align: left;
  line-height: 130%;
  margin-top: 0;
  padding-top: 0;
}

.section.ax-template-promo .content p {
  color:var(--color-gray-700-variant);
  font-size: var(--body-font-size-m);
  font-style: normal;
  font-weight: var(--body-font-weight);
  line-height: 130%;
}

.section.ax-template-promo .content p a {
  color: var(--color-background-accent-default);
  font-size: var(--body-font-size-m);
  font-style: normal;
  font-weight: var( --heading-font-weight-medium);
  line-height: 130%;
}

.section.ax-template-promo .content p a:hover {
  color: var(--color-background-accent-hover);
}

.section.ax-template-promo .content p a:active {
  color: var(--color-background-accent-down);
}

.ax-template-promo.one-up {
  gap: var(--spacing-300);
  /* margin: var(--spacing-600) auto;
  margin-bottom: 0; */
}

.ax-template-promo.one-up img {
  border-radius: var(--spacing-300);
}

.ax-template-promo.multiple-up {
  gap: var(--spacing-600);
}

.template-promo {
  max-width: var(--ax-grid-12-col-width);
}

.ax-template-promo.multiple-up .template-promo .image-container {
  max-height: 240px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: var(--spacing-300);
}

/** Botton Container */
.ax-template-promo .botton-container {
  display: flex;
  align-items: center;
}
.ax-template-promo > .button-container {
  display: flex;
}
.ax-template-promo > .button-container a.button.accent {
  background-color: var(--color-background-accent-default);
  margin: 0;
  font-size: var(--body-font-size-m);
  padding: var(--spacing-100) var(--spacing-300);
  border-radius: 1000px;
}

.template-promo {
  width: var(--ax-grid-12-col-width);
}

/* collapsible rows overrides */
.ax-template-promo .collapsible-rows {
  padding: 0;
}

.ax-template-promo.multiple-up .collapsible-rows {
  padding: var(--spacing-600) 0;
}

.ax-template-promo.one-up .collapsible-row-accordion {
  margin: 0;
}

@media (min-width: 600px) {
  :root {
    --ax-grid-margin: 20px;
    --ax-grid-gutter: 16px;
  }
}

@media (min-width: 768px) {
  .section.ax-template-promo {
    padding: 20px 40px;
  }
  
  .ax-template-promo.one-up .template-promo, 
  .ax-template-promo.one-up .collapsible-rows, 
  .ax-template-promo.one-up .button-container {
    width: var(--ax-grid-8-col-width);
    margin: auto;
  }

  .ax-template-promo.multiple-up .template-promo.template-promo-carousel, 
  .ax-template-promo.one-up .template-promo, 
  .ax-template-promo.one-up .collapsible-rows, 
  .ax-template-promo.one-up .button-container {
    padding-left: 5px;
    max-width: calc(var(--ax-grid-8-col-width) - 15px);
    margin-left: calc(var(--ax-grid-2-col-width) + var(--ax-grid-margin));
  }
}


@media screen and (min-width: 1024px) {
  :root {
    --ax-grid-margin: 40px;
    --ax-grid-gutter: 24px;
  }

  .template-promo {
    width: var(--ax-grid-7-col-width);
    margin-left: calc(var(--ax-grid-3-col-width) + var(--ax-grid-gutter));
    margin-right: auto;
    padding: 0;
  }

  .ax-template-promo.one-up .template-promo, 
  .ax-template-promo.one-up .collapsible-rows, 
  .ax-template-promo.one-up .button-container {
    width: var(--ax-grid-7-col-width);
    margin: auto;
  }

  .ax-template-promo.multiple-up .template-promo.template-promo-carousel, 
  .ax-template-promo.one-up .template-promo, 
  .ax-template-promo.one-up .collapsible-rows, 
  .ax-template-promo.one-up .button-container {
    width: calc(var(--ax-grid-7-col-width));
    margin-left: calc(var(--ax-grid-3-col-width) + var(--spacing-600) + var(--ax-grid-gutter));
  }
}


@media screen and (min-width: 1680px) {
  .ax-template-promo.multiple-up .template-promo.template-promo-carousel, 
  .ax-template-promo.one-up .template-promo, 
  .ax-template-promo.one-up .collapsible-rows, 
  .ax-template-promo.one-up .button-container {
    margin: 0 auto;
    padding-left: 40px;
    box-sizing: border-box;
  }
}
