.section:first-child .ax-columns:first-child {
  min-height: unset;
}
.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing):first-child .ax-columns:first-child {
  padding-top: 0;
}

.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing).long-form .ax-columns:last-child {
  padding-bottom: 40px;
}

.section:has(.ax-columns) > .content {
  max-width: 350px;
}

.ax-columns {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  max-width: 350px;
  line-height: initial;
  word-wrap: normal;
}

.ax-columns.centered {
  max-width: 375px;
}

.section:not(:has(> .ax-columns:not(.centered))) > .ax-columns.centered {
  padding-left: 0px;
  padding-right: 0px;
}

.section:has(.ax-columns.enterprise) .content h2 {
  margin-top: 0;
  padding-top: 80px;
}

.section .ax-columns.enterprise {
  padding-left: 80px;
  padding-right: 80px;
  max-width: unset;
}

.ax-columns.enterprise > div {
  gap: 40px;
}

.ax-columns .express-logo.icon {
  width: unset;
  height: 30px;
  padding-bottom: 8px;
  float: unset;
}

.section:not(:first-child):not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns:first-child {
  padding-top: 60px;
}

.section:not(:first-child):not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns.highlight:empty:first-child {
  padding-top: 0px;
}

.ax-columns.top.center, .ax-columns.fullsize.center, .ax-columns.light, .ax-columns.fullsize.center {
  max-width: 375px;
  padding-left: 0;
  padding-right: 0;
}

.section:has(.ax-columns:not(.top.center, .fullsize, .light, .dark, .numbered, .centered, .color)):not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) > .ax-columns:last-child,
.section:has(.ax-columns:not(.top.center, .fullsize, .light, .dark, .numbered, .centered, .color)):not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) > .content:last-child {
  padding-bottom: 40px;
}

.ax-columns h1,
.ax-columns h2,
.ax-columns h3,
.ax-columns h4,
.ax-columns h5,
.ax-columns h6 {
  margin: 0;
}

.section:has(.ax-columns.highlight:not(.dark)),
.section:has(.ax-columns.dark:not(.highlight)) {
  color: var(--color-white);
}

.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns.highlight:last-child,
.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns.dark:last-child,
.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns.highlight:nth-last-child(2):has(+ .section-metadata),
.section:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns.dark:nth-last-child(2):has(+ .section-metadata) {
  padding-bottom: 40px;
}

.section:has(.ax-columns.highlight) .legal {
  color: var(--color-black);
  font-size: var(--body-font-size-m);
}

.section:has(.ax-columns.highlight) .legal a:any-link {
  color: var(--color-black);
  text-decoration: underline;
}

.section:has(.ax-columns.dark) {
  background: var(--color-black);
}

.section:has(.ax-columns.highlight) {
  background: var(--gradient-highlight-vertical);
}

.section .ax-columns p {
  margin: 16px 0;
  font-size: var(--body-font-size-l);
  line-height: 1.33;
}

.ax-columns p.powered-by {
  font-size: var(--body-font-size-m);
  line-height: 1.2;
}

.ax-columns .phone-number-cta-row {
  font-style: normal;
  margin: 20px auto auto auto;
  width: fit-content;
  display: block;
}

.ax-columns .trial-cta {
  display: block;
  margin: auto;
}

.ax-columns .phone-number-cta-row a.phone {
  text-decoration: underline;
  color: var(--color-black);
}

.section > .ax-columns p.button-container, .section > .ax-columns .con-button {
  margin: 0;
  margin-top: 40px;
}

.section > .ax-columns .button-container a {
  margin: 0;
}

.ax-columns:not(.highlight) .column-video .button-container a, .ax-columns:not(.highlight) .column-video a.con-button {
  border-radius: 24px;
  padding: 8px 20px;
}

 .ax-columns:not(.highlight) .column-video .button-container a:hover,
.ax-columns:not(.highlight) .column-video .button-container a:active,
.ax-columns:not(.highlight) .column-video .button-container a,
.ax-columns:not(.highlight) .column-video .button-container a:focus,
 .ax-columns:not(.highlight) .column-video a.con-button:hover,
 .ax-columns:not(.highlight) .column-video a.con-button:active,
 .ax-columns:not(.highlight) .column-video a.con-button a,
 .ax-columns:not(.highlight) .column-video a.con-button:focus {
  background-color: transparent;
  border-color: var(--color-black);
  color: var(--color-black);
  box-shadow: none;
}

.ax-columns:not(.highlight) .column-video .button-container a:before,
.ax-columns:not(.highlight) .column-video a.con-button:before {
  display: inline-block;
  width: 18px;
  height: 20px;
  margin-right: 16px;
  vertical-align: sub;
  top: 1px;
  position: relative;
  content: url(/express/code/icons/play.svg);
}

.ax-columns .column-picture {
  margin: 15px 0;
}

.section .ax-columns h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: 1.06;
}

.section .ax-columns h1.columns-heading-long {
  font-size: var(--heading-font-size-xl);
}

.section .ax-columns h1.columns-heading-very-long {
  font-size: var(--heading-font-size-l);
}

.section .ax-columns h1.columns-heading-x-long {
  font-size: var(--heading-font-size-m);
}

.section .ax-columns h2 {
  font-size: var(--heading-font-size-xl);
  line-height: 1.08;
  margin: 0;
}

.section .ax-columns h2.columns-heading-very-long {
  font-size: var(--heading-font-size-l);
}

.section .ax-columns h3 {
  font-size: var(--heading-font-size-l);
  line-height: 1.11;
}

.section .ax-columns h4,
.section .ax-columns h5,
.section .ax-columns h6 {
  font-size: var(--heading-font-size-m);
  line-height: 1.14;
  margin-top: 32px;
}

.section .ax-columns h2 + h2,
.section .ax-columns h3 + h3,
.section .ax-columns h4 + h4,
.section .ax-columns h5 + h5,
.section .ax-columns h6 + h6 {
  margin-top: 0;
}

.ax-columns.width-2-columns .column-picture,
.ax-columns.width-2-columns .hero-animation-overlay {
  order: 2;
}

.section .ax-columns.width-3-columns h3 {
  font-size: var(--heading-font-size-m);
}

.section .ax-columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.section .ax-columns.center .column, .ax-columns.enterprise .column {
  text-align: center;
}

.section .ax-columns.center .column p.button-container, .section .ax-columns.center .column a.con-button,
.section .ax-columns.enterprise .column p.button-container, .section .ax-columns.enterprise .column a.con-button {
  text-align: center;
}

.section .ax-columns a > p:empty {
  display: none;
}

.section:has(.ax-columns).steps-container
  div
  .steps
  div.step-description
  h2 {
  font-size: var(--heading-font-size-l);
  line-height: 1.11;
}


.section:has(.ax-columns).steps-container
  div
  .steps
  div.step-description
  h3, .section:has(.ax-columns).steps-container
  div
  .steps
  div.step-description
  h4, .section:has(.ax-columns).steps-container
  div
  .steps
  div.step-description
  h6 {
  font-size: var(--heading-font-size-s);
  line-height: 1.18;
}

.section:has(.ax-columns).steps-container
  div
  .steps
  div.step-description
  p {
  font-size: var(--body-font-size-s);
  line-height: 1.28;
}

.ax-columns > div span.num {
  position: relative;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  top: 0;
  margin-right: 12px;
}

.ax-columns > div span.num + * {
  display: inline;
}

.ax-columns .icon {
  height: 24px;
  margin-right: 12px;
  float: left;
}

.ax-columns .brand.icon {
  width: auto;
  margin-right: 0;
  float: none;
}

.ax-columns.center .icon {
  float: none;
}

.ax-columns .icon.icon-check {
  width: 22px;
}

.section:first-of-type .ax-columns:first-of-type .brand.icon {
  display: unset;
  height: 32px;
  width: auto;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.ax-columns .has-brand {
  padding-top: 72px;
  position: relative;
}

.ax-columns .social.icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}

.ax-columns .column hr {
  margin-top: 32px;
}

.ax-columns .column .columns-iconlist {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 40px;
}

.ax-columns .column .columns-iconlist > div {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.ax-columns .column .columns-iconlist p {
  margin: 0;
}

.ax-columns .column .columns-iconlist .columns-iconlist-icon {
  display: flex;
}

.ax-columns .column .columns-iconlist .columns-iconlist-icon img.icon,
.ax-columns .column .columns-iconlist .columns-iconlist-icon svg.icon {
  height: 22px;
  width: 22px;
}

.ax-columns .column iframe {
  aspect-ratio: 1 / 0.56;
}

.ax-columns .column .columns-iconlist .columns-iconlist-description {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 10px;
  text-align: left;
}

.ax-columns .column,
.ax-columns .column p.button-container,
.ax-columns .column h1,
.ax-columns .column h2,
.ax-columns .column h3,
.ax-columns .column h4,
.ax-columns .column h5,
.ax-columns .column h6 {
  text-align: left;
}

.ax-columns.center .column,
.ax-columns.center .column p.button-container,
.ax-columns.center .column h1,
.ax-columns.center .column h2,
.ax-columns.center .column h3,
.ax-columns.center .column h4,
.ax-columns.center .column h5,
.ax-columns.center .column h6,
.ax-columns.enterprise .column,
.ax-columns.enterprise .column p.button-container,
.ax-columns.enterprise .column h1,
.ax-columns.enterprise .column h2,
.ax-columns.enterprise .column h3,
.ax-columns.enterprise .column h4,
.ax-columns.enterprise .column h5,
.ax-columns.enterprise .column h6{
  text-align: center;
}

.ax-columns.highlight > div {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
}

main .ax-columns.highlight.dark .columns-video:last-of-type {
  margin-bottom: 0;
}

.section:first-child:not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns:first-child > div.columns-video {
  padding: 40px 0;
}

.ax-columns.highlight > div:first-child {
  margin-top: 50px;
}

.ax-columns.highlight.width-2-columns .column-picture {
  order: -1;
}

.ax-columns.highlight .columns-video {
  cursor: pointer;
}

.columns-video .column-picture {
  position: relative;
}

.columns-video .column-picture img {
  display: block;
}

.columns-video .column-picture .column-video-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}


  .ax-columns.highlight
  .columns-video:hover
  .column-picture
  .column-video-overlay {
  background-image: linear-gradient(#ffffff00, #90909025, #000000a0);
}

.columns-video .column-picture .column-video-overlay svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: var(--color-white);
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
}

.ax-columns.highlight .column-picture {
  margin: 0;
}

.section:has(.ax-columns.highlight) h4 {
  margin: 16px 0;
  font-size: var(--heading-font-size-m);
}

.section:has(.ax-columns.highlight) h2 {
  font-size: var(--heading-font-size-xl);
}


  .ax-columns.highlight
  .column:not(.column-picture):not(.hero-animation-overlay) {
  padding: 20px 16px;
}

.ax-columns.highlight .column h5 {
  color: var(--color-info-accent);
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.ax-columns.highlight .column h5 + h2,
.ax-columns.highlight .column h5 + h3,
.ax-columns.highlight .column h5 + h4 {
  margin-top: 0;
}

.ax-columns.highlight h1,
.ax-columns.highlight h2,
.ax-columns.highlight h3 {
  font-size: var(--heading-font-size-l);
}

.ax-columns.highlight h4 {
  font-size: var(--heading-font-size-m);
}

.ax-columns.highlight h5,
.ax-columns.highlight h6 {
  font-size: var(--heading-font-size-s);
}

.ax-columns.highlight .column .columns-iconlist {
  margin-bottom: 0;
}

.ax-columns.highlight .column .columns-iconlist > div {
  margin-top: 8px;
}

.ax-columns.highlight .column p {
  font-size: var(--body-font-size-s);
}

.ax-columns.offer .column {
  width: 278px;
}

.ax-columns.offer .column:not(:first-child) {
  padding-top: 40px;
}

.ax-columns.offer > div p.button-container, .ax-columns.offer > div a.con-button {
  margin-bottom: 40px;
}

/* sub title */
.ax-columns.offer h3:not(:first-of-type) {
  font-size: var(--body-font-size-xl);
  font-weight: 600;
  line-height: var(--body-line-height);
  margin: 80px 0 0;
}

.ax-columns.offer .columns-offer-icon .icon {
  margin-right: 0;
  float: unset;
  width: 26px;
}

.ax-columns.offer .column .columns-iconlist,
.ax-columns.offer .column .columns-iconlist .columns-iconlist-icon > div {
  width: 100%;
}

.ax-columns.offer .column .columns-iconlist .columns-iconlist-icon .icon {
  width: 44px;
  height: 44px;
}

.ax-columns.offer .column .columns-iconlist .columns-iconlist-description {
  flex: 1;
}


  .ax-columns.offer
  .column
  .columns-iconlist
  .columns-iconlist-description
  p {
  font-size: var(--body-font-size-m);
}

.ax-columns .column {
  padding-left: 32px;
  padding-right: 32px;
}

.ax-columns.fullsize .column-picture,
.ax-columns.fullsize .hero-animation-overlay {
  order: -1;
}

.ax-columns.fullsize > div > div p {
  margin: 16px 0;
}

.ax-columns.fullsize > div > div .button-container, .ax-columns.fullsize > div > div a.con-button {
  margin: 16px 0;
}

.ax-columns.fullsize > div > div .button-container a {
  margin: 16px 0 0 0;
}

.ax-columns.fullsize .has-brand > div p:first-child {
  margin: 0;
}

.ax-columns.fullsize .column {
  padding-left: 24px;
  padding-right: 24px;
}

.ax-columns .column.column-picture {
  padding-left: 8px;
  padding-right: 8px;
}

.section:first-of-type .ax-columns:first-of-type:not(.center):not(.fullsize) .brand.icon {
  transform: none;
  left: 0;
  padding-left: 32px;
}

.ax-columns.fullsize .hero-animation-overlay {
  padding-top: 4px;
  padding-bottom: 4px;
}

.ax-columns.fullsize .hero-animation-overlay video {
  max-height: 40vh;
  margin-bottom: 40px;
  max-width: 370px;
}

.ax-columns.fullsize
  .has-brand
  > div:not(.column-picture):not(.hero-animation-overlay) {
  padding-top: 16px;
}

.ax-columns.highlight .column.column-picture {
  padding-left: 0px;
  padding-right: 0px;
}

/* Custom color variant */

.ax-columns.color .img-wrapper {
  height: 345px;
  width: 345px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.ax-columns.color .color-svg-img {
  height: 63%;
  width: 46%;
}

.ax-columns.color > div {
  padding: 80px 0 0 0;
  gap: 15px;
}

.ax-columns.color .column.text {
  padding: 0;
  max-width: 345px;
}

.ax-columns.color.shadow .img-wrapper {
  box-shadow: 0 3px 6px #00000029;
}

.ax-columns.color h2,
.ax-columns.color p {
  hyphens: manual;
  text-align: center;
}

.ax-columns.color h2 {
  font-size: var(--heading-font-size-l);
}

.collapsible-card-wrapper + .columns-wrapper .ax-columns > div {
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}


.ax-columns
  .button-container.free-plan-container.stacked
  .free-plan-widget {
  margin-top: 0;
  padding: 16px 0;
  background-color: transparent;
}


.ax-columns.center.button-container.free-plan-container.stacked
  .free-plan-widget {
  padding-left: 24px;
}

.ax-columns.fullsize.top {
  max-width: 1200px;
}

.ax-columns.fullsize.top > div {
  padding: 40px 0;
}

.ax-columns.fullsize.top .column {
  width: auto;
  padding: 0 20px;
}

.ax-columns.fullsize.top .column .columns-iconlist > div {
  margin-top: 12px;
}

.ax-columns.fullsize.top .column .columns-iconlist p {
  font-size: var(--body-font-size-s);
  line-height: 18px;
}


  .ax-columns.fullsize.top
  .column
  .columns-iconlist
  .columns-iconlist-icon
  img.icon {
  margin-right: 8px;
}


  .ax-columns.fullsize.top
  .column
  .columns-iconlist
  .columns-iconlist-description {
  margin-left: 8px;
}

/* Japanese font sizing styles */
:lang(ja) .ax-columns h2.columns-heading-long {
  font-size: var(--heading-font-size-l);
}

:lang(ja) .ax-columns h2.columns-heading-very-long {
  font-size: var(--heading-font-size-l);
}

:lang(ja) .ax-columns h2.columns-heading-x-long {
  font-size: var(--heading-font-size-m);
}

@media (max-width: 600px) {
  :lang(ja) .ax-columns h2 {
    font-size: var(--heading-font-size-l);
  }

  :lang(ja) .ax-columns h2.columns-heading-long {
    font-size: var(--heading-font-size-l);
  }

  :lang(ja) .ax-columns h2.columns-heading-very-long {
    font-size: var(--heading-font-size-m);
  }

  :lang(ja) .ax-columns h2.columns-heading-x-long {
    font-size: var(--heading-font-size-m);
  }

  .section:has(.ax-columns.enterprise) .content h2 {
    padding-left: 20px;
    padding-right: 20px;
    word-break: auto-phrase;
  }
}

.section.long-form:has(.ax-columns:not(.fullsize, .centered)) .content {
  padding: 0 35px 60px;
}

@media (min-width: 600px) {
  .section.long-form:has(.ax-columns:not(.fullsize, .centered)) .content {
    padding: 0 55px 60px;
    max-width: 1100px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  :lang(ja) .section .ax-columns h1 {
    font-size: var(--heading-font-size-xl);
  }

  :lang(ja) .section .ax-columns h1.columns-heading-long {
    font-size: var(--heading-font-size-xl);
  }

  :lang(ja) .section .ax-columns h1.columns-heading-very-long {
    font-size: var(--heading-font-size-l);
  }

  :lang(ja) .section .ax-columns h1.columns-heading-x-long {
    font-size: var(--heading-font-size-m);
  }
}

@media (min-width: 900px) {
  .section:first-of-type .ax-columns:first-of-type:not(.center):not(.fullsize) .brand.icon {
    padding-left: 0;
  }

    .ax-columns.fullsize.center
    .has-brand
    > div:not(.column-picture):not(.hero-animation-overlay) {
    padding-top: 0;
  }

  .ax-columns .column {
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section:has(.ax-columns) > .content {
    max-width: 836px;
  }


    .ax-columns
    .column:first-child:not(.column-picture):not(.hero-animation-overlay):not(
      .text
    ) {
    padding-right: 16px;
  }


    .ax-columns
    .column:nth-child(2):not(.column-picture):not(.hero-animation-overlay):not(
      .text
    ) {
    padding-left: 16px;
  }


    .ax-columns.highlight
    .column:nth-child(2):not(.column-picture):not(.hero-animation-overlay) {
    padding-left: 32px;
  }

  .ax-columns.color .column {
    padding-right: 15px;
    min-width: 388px;
  }

  .ax-columns.fullsize .column-picture,
  .ax-columns.fullsize .hero-animation-overlay {
    padding-top: 0;
    padding-bottom: 0;
    order: unset;
  }

  .ax-columns.fullsize .hero-animation-overlay video {
    max-height: unset;
    margin-bottom: unset;
  }

  .ax-columns.fullsize > div > div {
    display: block;
  }

  .ax-columns.fullsize > div > div p {
    margin: 16px 0;
  }

  .ax-columns.fullsize > div > div .button-container, .ax-columns.fullsize > div > div a.con-button {
    margin: 0;
    margin-top: 40px;
  }

  .ax-columns.fullsize > div > div .button-container a {
    margin: 0;
  }

  .ax-columns.fullsize .has-brand > div p:first-child {
    margin: 16px 0;
  }

  .ax-columns .column.column-picture {
    padding-left: 8px;
    padding-right: 8px;
  }


    .ax-columns
    .column:nth-child(2):not(.column-picture):not(.hero-animation-overlay) {
    padding-left: 16px;
  }

  .collapsible-card-wrapper + .columns-wrapper .ax-columns > div {
    flex-direction: unset;
  }

  .ax-columns.color .img-wrapper {
    height: 418px;
    width: 418px;
  }

  .ax-columns.color h2,
  .ax-columns.color p {
    text-align: left;
  }

  .section:first-of-type .ax-columns:first-of-type .brand.icon {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }

  .section:first-of-type .ax-columns:first-of-type:not(.center):not(.fullsize) .brand.icon {
    padding-left: 0;
  }

  .ax-columns .has-brand {
    padding-top: 0;
  }

  .section .ax-columns.top > div,
  .section .ax-columns.offer > div {
    align-items: flex-start;
  }

  .section .ax-columns, .ax-columns.top.center, .ax-columns.fullsize.center, .ax-columns.light, .ax-columns.fullsize.center {
    max-width: 836px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section .ax-columns.extra-wide {
    max-width: 830px;
  }

  .section .ax-columns.narrow {
    max-width: 850px;
  }

  .section .ax-columns > div {
    flex-direction: row;
    text-align: left;
    align-items: center;
  }

  .section div.ax-columns > div {
    position: relative;
  }

  .section div.ax-columns > div > div {
    width: 50%;
    box-sizing: border-box;
  }

  .section div.ax-columns > div > div:only-child {
    width: 100%;
  }

  .ax-columns > div span.num {
    font-size: 22px;
    line-height: 29px;
    display: block;
  }

  .ax-columns.width-2-columns .column-picture,
  .ax-columns.width-2-columns .hero-animation-overlay,
  .ax-columns.highlight.width-2-columns .column-picture {
    order: 0;
  }

  .ax-columns.highlight.width-2-columns .column-picture img {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    object-fit: cover;
  }

  .ax-columns.offer > div {
    flex-direction: column;
    justify-content: center;
  }

  .ax-columns.offer .column {
    width: 600px;
    margin: 0 auto;
  }

  .ax-columns.offer > div:first-child {
    padding-bottom: 0;
  }

  .columns-video .column-picture {
    position: initial;
  }

  .columns-video .column-picture .column-video-overlay {
    width: 50%;
  }

  .ax-columns.enterprise .column h2 {
    font-size: var(--heading-font-size-xxl);
  }

  main .ax-columns .phone-number-cta-row {
    float: left;
    margin: 15px auto auto 10px;
  }

  main .ax-columns .trial-cta {
    float: left;
  }

  main .ax-columns .columns-video {
    min-height: 356px;
  }
}

@media (min-width: 1200px) {
  .section:has(.ax-columns) > .content {
    max-width: 1024px;
  }

  .section .ax-columns, .ax-columns.top.center, .ax-columns.light {
    max-width: 1024px;
  }

  .section .ax-columns.fullsize {
    max-width: 1122px;
  }

  .ax-columns:not(.fullsize)
    .column:not(.column-picture):not(.hero-animation-overlay):not(.text) {
    padding: 40px;
  }

  .ax-columns.fullsize .column.hero-animation-overlay {
    position: relative;
    height: 610px;
  }

  .ax-columns.fullsize .column.columns-picture > p,
  .ax-columns.fullsize .column.hero-animation-overlay > p {
    margin: 0;
  }

  .ax-columns.fullsize .column video {
    position: absolute;
    left: 0;
    max-width: 600px;
  }

  .ax-columns.fullsize + h2 {
    margin-top: 0;
  }

  .ax-columns.offer > div {
    width: 1100px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .ax-columns.offer .column {
    width: 490px;
    padding: 40px 0;
  }

  .ax-columns.offer .column:not(:first-child) {
    padding-top: 0;
  }

  .ax-columns.color .column.text {
    max-width: unset;
  }

  .ax-columns.color .img-wrapper {
    height: 500px;
    width: 500px;
  }

  .ax-columns.color > div {
    gap: 25px;
  }

  .ax-columns.fullsize.top > div {
    padding: 80px 0;
  }

  :lang(ja) .section .ax-columns h1 {
    font-size: var(--heading-font-size-xxl);
  }

  :lang(ja) .section .ax-columns h1.columns-heading-long {
    font-size: var(--heading-font-size-xl);
  }

  :lang(ja) .section .ax-columns h1.columns-heading-very-long {
    font-size: var(--heading-font-size-xl);
  }

  :lang(ja) .section .ax-columns h1.columns-heading-x-long {
    font-size: var(--heading-font-size-l);
  }

  :lang(ja) .section .ax-columns h2.columns-heading-long {
    font-size: var(--heading-font-size-xl);
  }

  :lang(ja) .section .ax-columns h2.columns-heading-very-long {
    font-size: var(--heading-font-size-l);
  }

  :lang(ja) .section .ax-columns h2.columns-heading-x-long {
    font-size: var(--heading-font-size-m);
  }

  .section .ax-columns h2.columns-heading-very-long {
    font-size: var(--heading-font-size-xl);
  }

  .section .ax-columns  h1.columns-heading-long {
    font-size: var(--heading-font-size-xxl);
  }
  .section .ax-columns h1.columns-heading-very-long {
    font-size: var(--heading-font-size-xl);
  }

  .section .ax-columns h1.columns-heading-x-long {
    font-size: var(--heading-font-size-l);
  }

  .ax-columns.extra-wide > div {
    align-items: flex-start;
  }

  .section >  .ax-columns.extra-wide {
    max-width: 1440px;
  }
  .section .ax-columns.extra-wide .button-container, .section  .ax-columns.extra-wide .con-button{
    margin-top: 0;
  }

  .section:not(:first-child):not(.xxxl-spacing-static, .xxl-spacing-static, .xl-spacing-static, .xxxl-spacing, .xxl-spacing, .xl-spacing,
.l-spacing, .m-spacing, .s-spacing, .xs-spacing, .xxs-spacing) .ax-columns.extra-wide:first-child:not(:empty) {
    padding-top: 0;
  }

  .ax-columns .column-picture{
    width:  unset;
  }
}

.ax-columns.extra-wide {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.ax-columns.extra-wide .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  width: fit-content;
  margin: auto;
  flex: 1;
}

.ax-columns.extra-wide > div {
  align-items: flex-start;
}

.ax-columns.extra-wide .column:has(a:only-of-type) {
  text-align: center;
}

.ax-columns.extra-wide .column > div{
  text-align: center;
}

.ax-columns.slim-button  a.button {
  padding: 5px 19.5px;
}

.ax-columns.slim-padding > div {
  padding: 0px;
}

.ax-columns.slim-padding .column {
  padding: 20px;
}
