.product-detail-x {
  --figma-spacing-0: 0px;
  --figma-spacing-50: 2px;
  --figma-spacing-75: 4px;
  --figma-spacing-80: 6px;
  --figma-spacing-100: 8px;
  --figma-spacing-200: 12px;
  --figma-spacing-300: 16px;
  --figma-spacing-400: 24px;
  --figma-spacing-500: 32px;
  --figma-spacing-600: 40px;
  --figma-spacing-700: 48px;
  --figma-spacing-800: 64px;
  --figma-spacing-900: 80px;
  --figma-spacing-1000: 96px;
  --font-size-25: 10px;
  --font-size-50: 11px;
  --font-size-75: 12px;
  --font-size-100: 14px;
  --font-size-200: 16px;
  --font-size-300: 18px;
  --font-size-400: 20px;
  --font-size-500: 22px;
  --font-size-600: 24px;
  --font-size-700: 28px;
  --font-size-800: 32px;
  --font-size-900: 36px;
  --font-size-1000: 40px;
  --font-size-1100: 44px;
  --font-size-1150: 48px;
  --font-size-1200: 52px;
  --font-size-1300: 58px;
  --font-size-1400: 64px;
  --font-size-1500: 72px;
  --font-size-1600: 82px;
  --line-height-25: 12px;
  --line-height-50: 14px;
  --line-height-75: 16px;
  --line-height-100: 18px;
  --line-height-200: 20px;
  --line-height-300: 22px;
  --line-height-400: 24px;
  --line-height-500: 26px;
  --line-height-600: 28px;
  --line-height-700: 32px;
  --line-height-800: 36px;
  --line-height-900: 40px;
  --line-height-1000: 40px;
  --line-height-1100: 44px;
  --line-height-1150: 48px;
  --line-height-1200: 52px;
  --line-height-1300: 58px;
  --line-height-1400: 64px;
  --line-height-1500: 72px;
  --line-height-1600: 82px;
  --grid-max-width: 599px;
  --container-max-width: 599px;
  --container-padding-side: var(--figma-spacing-300);
  --grid-gutter: var(--figma-spacing-100);
  --device-min-width: 320px;
  --device-max-width: 599px;
  --figma-section-padding-small: var(--figma-spacing-300);
  --figma-section-padding-medium: var(--figma-spacing-400);
  --figma-section-padding-large: var(--figma-spacing-500);
  --figma-section-padding-x-large: var(--figma-spacing-600);
}

.pdpx-global-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--figma-spacing-400);
  display: flex;
  flex-direction: column;
  gap: var(--figma-spacing-100);
  align-items: flex-start;
}
.pdpx-product-info-section-wrapper-container {
  display: contents;
  overflow-y: scroll;
}
.pdpx-product-info-heading-section-container {
  display: flex;
  flex-direction: column;
  order: 1;
  gap: var(--figma-spacing-100);
  align-items: baseline;
  margin-bottom: var(--figma-spacing-200);
}
.pdpx-product-images-container {
  width: 100%;
  order: 2;
}
.pdpx-product-info-section-wrapper {
  width: 100%;
  order: 3;
}
.pdpx-product-title {
  font-size: 28px;
}
.pdpx-price-info-row {
  display: flex;
  align-items: baseline;
  gap: var(--figma-spacing-75);
}
.pdpx-price-label {
  font-size: 20px;
  font-weight: 700;
}
.pdpx-compare-price-label {
  text-decoration: line-through;
  font-size: 14px;
}
.pdpx-compare-price-info-label {
  font-size: 14px;
  text-align: end;
}

.pdpx-compare-price-info-icon-container {
  position: relative;
  .pdpx-compare-price-info-icon-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    align-self: end;
    cursor: pointer;
    .pdpx-compare-price-info-icon {
      width: 12px;
    }
  }
  .pdpx-info-tooltip-content {
    position: absolute;
    display: none;
    right: 0;
    background-color: #323232;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    .pdpx-info-tooltip-content-title {
      font-size: 14px;
      font-weight: 700;
      color: #fff;
    }
    .pdpx-info-tooltip-content-description {
      font-size: 12px;
      margin: 0;
      padding: 0;
      padding-top: 10px;
    }
  }
}

.pdpx-savings-text {
  font-size: 12px;
  font-weight: 700;
  color: #05834e;
  text-align: end;
}
.pdpx-price-info-container {
  display: flex;
  flex-direction: column;
}
.pdpx-product-hero-image {
  width: 100%;
  border-radius: 12px;
}
.pdpx-product-ratings-lockup-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--figma-spacing-75);
  .pdpx-product-info-header-ratings-star {
    width: 17px;
  }
  .pdpx-star-ratings {
    display: flex;
    align-self: anchor-center;
  }
  .pdpx-ratings-number {
    font-weight: 700;
  }
  .pdpx-ratings-amount {
    background: transparent;
    font-size: 14px;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration-line: underline;
    cursor: pointer;
  }
}
.pdpx-delivery-estimate-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e0e2ff;
  border-radius: 8px;
  width: fit-content;
  padding: var(--figma-spacing-100);
  gap: var(--figma-spacing-75);
  margin-bottom: 0;
}
.pdpx-product-hero-image-container {
  margin-bottom: var(--figma-spacing-200);
}

.pdpx-image-thumbnail-carousel-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: var(--figma-spacing-100);
}
.pdpx-image-thumbnail-carousel-item {
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  width: 76px;
  height: 76px;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.pdpx-image-thumbnail-carousel-item.selected {
  border: 1px solid #5258e4;
}

.pdpx-product-info-container {
  height: 70vh;
  overflow-y: scroll;
}

.pdpx-checkout-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: var(--figma-spacing-100);
  margin-top: var(--figma-spacing-400);
  width: 100%;
  background-color: #5258e4;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 13px;
  border-radius: 24px;
  cursor: pointer;
}
.pdpx-checkout-button-text {
  font-size: 18px;
  font-weight: 700;
}

.pdpx-checkout-button-subhead {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 2px;
}

/* Pill Selector */
.pdpx-pill-selector-container {
  margin-bottom: var(--figma-spacing-400);
  .pdpx-pill-selector-label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--figma-spacing-100);
    .pdpx-pill-selector-label-label {
      font-weight: 700;
    }
  }
}

.pdpx-pill-selector-label {
  display: block;
  font-weight: 700;
  margin-bottom: var(--figma-spacing-100);
}

.pdpx-pill-selector-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--figma-spacing-100);
}
.pdpx-pill-container {
  display: flex;
  flex-direction: row;
  min-width: 150px;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #dadada;
  padding: 0px;
  cursor: pointer;
}
.pdpx-pill-image-container {
  width: 54px;
  height: 54px;
}
.pdpx-pill-image {
  width: 100%;
}
.pdpx-pill-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 92px;
  gap: var(--figma-spacing-75);
  padding: var(--figma-spacing-100);
  padding-right: var(--figma-spacing-400);
}
.pdpx-pill-text-name {
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.pdpx-pill-text-price {
  font-size: 14px;
  font-weight: 400;
  color: #505050;
}

/* MINI PILL SELECTOR */
.pdpx-pill-selector-label-compare-link {
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}
.pdpx-mini-pill-selector-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--figma-spacing-80);
}
.pdpx-mini-pill-image-container {
  border-radius: 4px;
  border: 1px solid transparent;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  overflow: hidden;
  line-height: 0;
  cursor: pointer;
  .pdpx-mini-pill-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}
.pdpx-mini-pill-price {
  font-size: 14px;
}
.pdpx-pill-container.selected,
.pdpx-mini-pill-image-container.selected {
  border: 1px solid #5258e4;
}

/* STANDARD SELECTOR */
.pdpx-standard-selector-container {
  margin-bottom: var(--figma-spacing-400);
}
.pdpx-standard-selector-label {
  display: inline-block;
  min-width: 104px;
  color: #505050;
  margin-right: var(--figma-spacing-600);
}
.pdpx-standard-selector {
  padding: var(--figma-spacing-100);
  cursor: pointer;
}
.pdpx-product-details-section-title-container {
  border-bottom: 1px solid #686868;
  padding-bottom: var(--figma-spacing-300);
}
.pdpx-product-details-section-title {
  font-size: 16px;
  font-weight: 700;
}
.pdpx-product-details-section-item-container {
  border-bottom: 1px solid #686868;
  padding: var(--figma-spacing-300);
  cursor: pointer;
}
.pdpx-product-details-section-item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pdpx-product-details-section-item-title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #131313;
  padding-bottom: 5px;
  width: 90%;
}

.pdpx-product-details-section-item-icon {
  padding: var(--figma-spacing-100);
}
.pdpx-product-details-section-item-description {
  display: none;
  visibility: hidden;
}
.pdpx-product-details-section-item-container.expanded
  .pdpx-product-details-section-item-description {
  display: block;
  visibility: visible;
}
.pdpx-product-details-section-item-container.expanded
  .pdpx-product-details-section-item-icon {
  background-image: url('/express/code/icons/minus-sign.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.pdpx-product-details-section-item-container.collapsed
  .pdpx-product-details-section-item-icon {
  background-image: url('/express/code/icons/plus-sign.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.pdpx-hidden-select-input {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

/*TABLET*/
@media (min-width: 600px) {
  .product-detail-x {
    --grid-max-width: 1199px;
    --container-max-width: 1199px;
    --container-padding-side: var(--figma-spacing-500);
    --grid-gutter: var(--figma-spacing-300);
    --device-min-width: 600px;
    --device-max-width: 1199px;
    --figma-section-padding-small: var(--figma-spacing-300);
    --figma-section-padding-medium: var(--figma-spacing-400);
    --figma-section-padding-large: var(--figma-spacing-500);
    --figma-section-padding-x-large: var(--figma-spacing-600);
  }
  .pdpx-global-container {
    flex-direction: row;
  }
  .pdpx-product-images-container {
    order: 1;
  }
  .pdpx-product-info-section-wrapper-container {
    display: flex;
    flex-direction: column;
    order: 2;
    flex: 1 1 auto;
  }
  .pdpx-product-info-heading-section-container {
    flex-direction: column;
    order: 1;
  }
  .pdpx-product-info-section-wrapper {
    order: 2;
  }
  .pdpx-product-images-container,
  .pdpx-product-info-section-wrapper-container {
    width: calc(50% - 12px);
  }
}
/*DESKTOP*/
@media (min-width: 1200px) {
  .product-detail-x {
    --grid-max-width: 1680px;
    --container-max-width: 1600px;
    --container-padding-side: var(--figma-spacing-600);
    --grid-gutter: var(--figma-spacing-400);
    --device-min-width: 1200px;
    --device-max-width: 1679px;
    --figma-section-padding-small: var(--figma-spacing-600);
    --figma-section-padding-medium: var(--figma-spacing-700);
    --figma-section-padding-large: var(--figma-spacing-800);
    --figma-section-padding-x-large: var(--figma-spacing-900);
  }
  .pdpx-global-container {
    gap: var(--figma-spacing-400);
  }
  .pdpx-product-info-heading-section-container {
    flex-direction: row;
    margin-bottom: var(--figma-spacing-400);
    gap: var(--figma-spacing-400);
    .pdpx-price-info-container {
      align-items: flex-end;
    }
  }
  .pdpx-delivery-estimate-pill {
    margin-bottom: var(--figma-spacing-400);
  }
  .pdpx-title-and-ratings-container {
    max-width: 64%;
  }
  .pdpx-product-images-container,
  .pdpx-product-info-section-wrapper-container {
    width: calc(50% - 12px);
  }
}
/*WIDE-SCREEN*/
@media (min-width: 1680px) {
  .product-detail-x {
    --grid-max-width: 1680px;
    --container-max-width: 1600px;
    --container-padding-side: var(--figma-spacing-600);
    --grid-gutter: var(--figma-spacing-400);
    --device-min-width: 1680px;
    --device-max-width: 5120px;
    --figma-section-padding-small: var(--figma-spacing-600);
    --figma-section-padding-medium: var(--figma-spacing-700);
    --figma-section-padding-large: var(--figma-spacing-800);
    --figma-section-padding-x-large: var(--figma-spacing-900);
  }
}
