.quotes-wrapper, .section .content:has(+ .quotes-wrapper) {
  max-width: 375px;
}

.section:has(.quotes)>div>h2 {
  margin-top: 80px;
}

.quotes-wrapper {
  margin: auto;
}

.content:has(+ .quotes-wrapper) {
  padding-top: 40px;
}

.quotes {
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quotes.singular {
  margin: 0 auto;
  padding-bottom: 0;
}

.quotes .quote {
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 32px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  background: var(--color-white);
}

.quotes .quote .content {
  padding-top: 28px;
  font-size: 1rem;
  text-align: left;
  flex-grow: 1;
}

.quotes .quote .author .author-content {
  display: flex;
  align-items: center;
}

.quotes .quote .author .summary {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quotes .quote .content::before {
  content: '“';
  display: block;
  position: absolute;
  margin-top: -15px;
  width: 36px;
  text-align: left;
  font-size: 72px;
  font-weight: 900;
}

.quotes .quote p {
  margin: 32px 0;
}

.quotes .quote .author {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 16px;
  align-items: center;
  align-self: baseline;
}

.quotes .quote .author hr {
  display: none;
}

.quotes .quote .author .image {
  padding-right: 10px;
}

.quotes .quote .author .image img {
  width: 42px;
  height: 42px;
  max-width: unset;
  border-radius: 21px;
  box-sizing: border-box;
}

main div:has(> .quotes-wrapper .singular.quotes) {
  padding-top: 0;
}

main .quotes-wrapper:has(.singular.quotes) {
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

main .quotes.singular {
  width: 100%;
}

main .quotes.singular .quote-container {
  width: 100%;
}

main .quotes.singular .quote-container .desktop-container {
  position: relative;
  display: none;
}

main .quotes.singular .quote-container .mobile-container {
  position: relative;
}

main .quotes.singular .quote-container .mobile-container .quote {
  max-width: 375px;
}

/* toggles between the mobile and desktop layout */
@media (min-width: 600px) {
  main .quotes.singular .quote-container .desktop-container {
    display: block;
  }
  main .quotes.singular .quote-container .mobile-container {
    display: none;
  }
}

main .quotes.singular .quote-container .desktop-container .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .quotes.singular .quote-container .mobile-container .background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main .quotes.singular .quote {
  display: flex;
  flex-flow: row;
  background: transparent;
  justify-content: center;
  padding: 70px 0;
  min-height: 370px;
}

main .quotes.singular .author-photo {
  width: 100px;
  height: 100px;
  min-width: 100px; /* at certain container width, the 100px width may be made smaller by the browser, so impose a min-width */
  border-radius: 50%;
  overflow: hidden;
}

main .quotes.singular .author-photo picture,
main .quotes.singular .author-photo picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  display: inline-block;
}

main .quotes.singular .mobile-container .author-photo {
  width: 60px;
  height: 60px;
  min-width: 60px; /* at certain container width, the 60px width may be made smaller by the browser, so impose a min-width */
  border-radius: 50%;
  overflow: hidden;
}

main .quotes.singular .mobile-container .author-photo picture,
main .quotes.singular .mobile-container .author-photo picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  display: inline-block;
}

main .quotes.singular .quote-details {
  width: 90%;
  font-size: 22px;
  font-weight: 800;
  text-align: left;
  line-height: initial;
}

main .quotes.singular .desktop-container .quote-details {
  margin-left: 30px;
}

main .quotes.singular .author-description {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

main .quotes.singular .mobile-container .author-panel {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

main .quotes.singular .mobile-container .author-panel .author-photo {
  margin-right: 15px;
}

@media (min-width: 600px) {
  main .quotes.singular .quote {
    width: 80%;
    min-height: 315px;
  }
}

@media (min-width: 900px) {
  main .quotes.singular .quote {
    width: 75%;
    max-width: 830px;
    font-weight: 600;
  }
  main .quotes.singular .quote-details {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  main .quotes.singular .quote {
    max-width: 1024px;
  }
}

.quotes .quote .author .summary p {
  text-align: left;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.2;
}

.quotes h2,
.quotes h3,
.quotes h4,
.quotes h5 {
  color: var(--color-black);
}

@media (min-width: 900px) {
  .quotes-wrapper, .section .content:has(+ .quotes-wrapper) {
    max-width: 724px;
  }

  .quotes {
    flex-direction: row;
    gap: 16px;
  }

  .quotes .quote {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .quotes-wrapper, .section .content:has(+ .quotes-wrapper) {
    max-width: 1024px;
  }
}
