.section[data-ax-panel][role='tabpanel'].hide {
  display: none;
}
.section[data-ax-panel][role='tabpanel'] {
  margin: 20px var(--ax-grid-margin) 0 var(--ax-grid-margin);
  box-sizing: border-box;
  background: #f8f8f8;
  border: 2px solid var(--color-white);
  border-radius: 16px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  padding: 16px;
}

.ax-panels {
  padding-top: 40px;
  padding-left: var(--ax-grid-margin);
  padding-right: var(--ax-grid-margin);
  position: relative;
}

.ax-panels .ax-panels-heading-container h2,
.ax-panels .ax-panels-heading-container h3 {
  font-size: var(--body-font-size-xl);
  font-weight: 700;
  text-align: center;
  padding-bottom: 16px;
}

.ax-panels .tablist-container {
  padding: 4px 0;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
  background-color: var(--color-white);
  border-radius: 8px;
  overflow-x: auto;
  scrollbar-width: none;
  width: max-content;
  max-width: 100%;
  margin: auto;
}

.ax-panels .tablist-container::-webkit-scrollbar {
  display: none;
}

.ax-panels [role='tablist'] {
  display: flex;
  gap: 4px;
  padding: 0 4px;
  margin: 0;
  width: max-content;
}

.ax-panels [role='tab'] {
  display: flex;
  align-items: center;
  position: relative;
  gap: 6px;
  font-weight: 700;
  color: #505050;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  border-radius: 6px;
  padding: 12px 14px;
  line-height: 1.3;
  border: 0;
  background-color: var(--color-white);
  cursor: pointer;
  white-space: nowrap;
}

.ax-panels [role='tab']:hover {
  background-color: #e1e1e1;
}

.ax-panels [role='tab'][aria-selected='true'] {
  background-color: var(--color-black);
  color: var(--color-white);
}

.ax-panels [role='tab'][aria-selected='true'] svg path {
  fill: var(--color-white);
}

.ax-panels li:last-of-type [role='tab'][aria-selected='true'] {
  background: linear-gradient(225deg, #B94900 0%, #F37 50.4%, #8B8DFE 100%);
}

.ax-panels li:nth-last-of-type(2) [role='tab'] {
  margin-right: 4px;
}

.ax-panels li:last-of-type [role='tab']::before {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  bottom: 0;
  width: 2px;
  background-color: #e1e1e1;  
}

.ax-panels .icon {
  height: 22px;
  width: 22px;
}

@media (min-width: 600px) {
  .ax-panels .ax-panels-heading-container h2,
  .ax-panels .ax-panels-heading-container h3 {
    font-size: var(--heading-font-size-m);
  }
  .ax-panels [role='tab'] {
    font-size: var(--body-font-size-l );
  }
  .section[data-ax-panel][role='tabpanel'] {
    margin: -28px var(--ax-grid-margin) 0 var(--ax-grid-margin);
    padding: 64px 32px 48px;
  }
  .ax-panels {
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .section[data-ax-panel][role='tabpanel'] {
    max-width: var(--ax-grid-11-col-width);
    margin-left: auto;
    margin-right: auto;
  }
}
