.cta-cards .heading-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-300);
  padding-bottom: var(--spacing-600);
}

.cta-cards .heading-container h2,
.cta-cards .heading-container h3 {
  color: #131313;
  line-height: 1.3;
  font-size: var(--body-font-size-xl);
  padding-bottom: var(--spacing-100);
}

.cta-cards .heading-container a {
  color: var(--color-grey-800);
  line-height: 1.3;
  text-decoration: underline;
}

.cta-cards .heading-container p {
  margin: 0;
  line-height: 1.3;
  font-size: var(--body-font-size-m);
}

.cta-cards .gallery {
  gap: var(--spacing-100);
}

.cta-cards .gallery-control {
  padding-top: var(--spacing-300);
}

.cta-cards .card {
  background-color: var(--color-white);
  border: 2px solid #D5D5D5;
  border-radius: 8px;
  padding: var(--spacing-200);
  display: flex;
  gap: var(--spacing-100);
  flex-direction: column-reverse;
  justify-content: space-between;
  position: relative;
}

.cta-cards .media img {
  display: block;
  border-radius: 12px;
  height: 220px;
  width: auto;
  max-width: 268px;
  object-fit: cover;
}

.cta-cards .text-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.cta-cards .text-container p {
  margin: 0;
  font-size: var(--body-font-size-s);
}

.cta-cards .text-container p strong {
  font-size: var(--body-font-size-m);
}

.cta-cards .text-container a {
  position: absolute;
  bottom: var(--spacing-400);
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

@media (min-width: 600px) {
  .cta-cards .heading-container {
    padding-bottom: var(--spacing-400);
  }
  .cta-cards .heading-container h2,
  .cta-cards .heading-container h3 {
    font-size: var(--heading-font-size-s );
  }
  .cta-cards .cards-container {
    gap: var(--spacing-300);
  }
}

@media (min-width: 1200px) {
  .cta-cards .media img {
    max-width: initial;
  }
}



