.banner,
.banner.compact {
  padding: 80px 15px;
  text-align: center;
}

.banner,
.banner.compact,
.banner.standout,
.banner.narrow {
  background-color: var(--color-info-accent);
}

.banner.standout {
  padding: 48px 0;
}

.section .banner p {
  margin: 32px 0;
}

.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner p {
  text-align: center;
}

.banner > div {
  max-width: var(--block-sm-max-width);
  margin: auto;
  padding: 0;
}

.banner.compact {
  padding: 40px 15px;
}

.banner {
  margin: 60px auto 0;
  color: var(--color-white);
}

.banner.light {
  color: var(--color-black);
  background-color: var(--color-white);
}

.banner.compact p {
  margin: 24px;
}

.banner.compact p.button-container, .banner.compact .con-button {
  margin-bottom: 0;
}

.banner.compact p.button-container ~ p, .banner.compact .con-button ~ p {
  margin-top: 0;
}

.banner h2,
.banner h3 {
  color: var(--color-white);
}

.banner.standout h2,
.banner.standout h3 {
  color: var(--heading-color);
}

main .banner h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.banner.light h2,
.banner.light h3 {
  color: var(--color-black);
}

.banner a:any-link {
  color: var(--color-white);
}

.banner.light a:any-link {
  color: var(--color-black);
}

.banner .icon {
  height: 72px;
  width: 72px;
}

.banner.multi-button .button-container, .banner.multi-button .con-button {
  display: inline-block;
}

.banner p:last-of-type {
  margin-bottom: 0;
}

.banner .standout-container {
  color: var(--body-color);
}

.banner .standout-container > div {
  padding: 33px 28%;
  background-color: var(--body-background-color);
  border-radius: 12px;
}

.banner .standout-container em {
  font-style: normal;
  background: linear-gradient(180deg, #FF4DD2 20%, #FF993B 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
}

@media (max-width: 900px) {
  .section .banner {
    padding-left: 6%;
    padding-right: 6%;
  }

  .banner .standout-container > div{
    padding: 33px 9%;
  }
}

@media (min-width: 900px) {
  .banner {
    padding-left: 56px;
    padding-right: 56px;
  }

  .banner > div {
    max-width: var(--block-md-max-width);
  }

  .banner.narrow > div {
    max-width: 850px;
  }

  .banner .standout-container {
    max-width: 830px;
  }
}

@media (min-width: 1200px) {
  .banner > div {
    max-width: var(--block-lg-max-width);
  }

  .banner .standout-container {
    max-width: 1024px;
  }
}
