main .logo-row {
    max-width: 1280px;
    margin: auto;
}

main .logo-row p {
    margin: 0;
}

main .logo-row .block-row {
    display: flex;
    width: fit-content;
    margin: auto;
}

.logo-row .text-column {
    margin: auto 0 auto auto;
    padding-right: 40px;
    max-width: 300px;
}

main .logo-row .block-layout {
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

main .logo-row .text-column {
    flex: 1;
    margin: auto;
    padding-right: 40px;
}

main .logo-row .text-column > * {
    text-align: left;
}

main .logo-row .text-content {
    font-size: 24px;
    font-weight: bold;
    color: #333;

}

main .logo-row .image-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 40px;
}

.logo-row.numerous .image-column {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main .logo-row .brand-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

@media (max-width: 1200px) {
    main .logo-row {
        max-width: 830px;
    }
}


@media (max-width: 900px) {
    main .logo-row {
        max-width: 375px;
    }

    main .logo-row .image-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    main .logo-row .block-row {
        display: block;
    }

    main .logo-row .text-column  {
        margin: auto;
        padding-bottom: 20px;
        padding-right: initial;
    }
    main .logo-row .text-column > * {
        text-align: center;
    }

    main .logo-row .brand-image {
        max-height: 100px;
        object-fit: contain;
    }
}
