:root {
    --frictionless-quick-action-video-width: 444px;
    --frictionless-quick-action-video-height: 455px;
}

.frictionless-quick-action {
    padding: 40px 20px;
    max-width: none;
    text-align: center;
}

.section .frictionless-quick-action h1 {
    font-size: 2.8125rem;
    margin: 0;
}

.frictionless-quick-action .express-logo {
    width: initial;
    height: 30px;
}

.frictionless-quick-action h1+p {
    margin: 16px 0 24px;
    font-size: 1rem;
}

.frictionless-quick-action input {
    display: none;
}

.frictionless-quick-action .quick-action-container {
    padding: 40px 0;
    min-height: 697px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    transition: opacity 0.2s;
}

.frictionless-quick-action h1 em {
    -webkit-background-clip: text;
    background-clip: text;
    font-style: normal;
}

.frictionless-quick-action .fqa-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    flex-wrap: wrap;
}

.frictionless-quick-action .fqa-container .button-container.hero-animation-overlay {
    position: relative;
    right: 5px;
    width: var(--frictionless-quick-action-video-width);
    min-height: var(--frictionless-quick-action-video-height);
}

.frictionless-quick-action .fqa-container > div:nth-child(2) {
    margin-top: 26px;
    width: 100%;
    max-width: 638px;
}


.frictionless-quick-action .dropzone-container {
    cursor: pointer;
    padding: 24px 0;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    min-height: 284px;
    display: flex;
    flex-direction: column; 
}

.frictionless-quick-action .dropzone-container.highlight .dropzone-bg {
    filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(6%) contrast(104%);
    transition: 0.3s ease-in-out;
}

.frictionless-quick-action .dropzone-container:hover, .frictionless-quick-action .dropzone-container.highlight  {
    background-color: rgb(211, 211, 211, 0.2);
}

.frictionless-quick-action .dropzone {
    flex-grow: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 48px) 100%;
}

.frictionless-quick-action .dropzone > * {
    padding-left: 36px;
    padding-right: 36px;
}

.frictionless-quick-action .dropzone > * {
    padding-left: 36px;
    padding-right: 36px;
}

.frictionless-quick-action .dropzone > p:last-of-type {
    padding-bottom: 5px;
}

.frictionless-quick-action .dropzone > p:first-of-type {
    margin: 0;
    padding: 39px 24px 0 24px;
    font-size: var(--heading-font-size-m);
    font-weight: var(--heading-font-weight);
    line-height: var(--heading-line-height);
}

.frictionless-quick-action  .dropzone > p:first-of-type em {
    font-style: normal;
    color: var(--color-info-accent);
}

.frictionless-quick-action .dropzone p:last-of-type {
    font-size: .6875rem;
    margin: 0;
}

.frictionless-quick-action .dropzone .button {
    margin-bottom: 0;
}

.frictionless-quick-action .fqa-container > div:nth-child(2) > p:last-of-type {
    margin: 15px 0 0;
    font-size: 0.75rem;
}

.frictionless-quick-action .free-plan-widget {
    background-color: unset;
    flex-direction: row;
    padding: unset;
    margin: 16px auto 8px auto;
    gap: 8px;
    flex-wrap: wrap;
}

.frictionless-quick-action .free-plan-widget > div {
    margin: 10px;
}

main .section .frictionless-quick-action .free-plan-widget img.icon.icon-checkmark {
    background-color: #f06dad;
}
.frictionless-quick-action .quick-action-container {
    height: 667px;
}

.frictionless-quick-action .quick-action-container > * {
    height: 100%;
}

.frictionless-quick-action .quick-action-container#resize-image-container {
    height: 1080px;
}

.frictionless-quick-action > div.hidden {
    visibility: hidden;
    position: absolute;
}

.frictionless-quick-action > div.transparent {
    opacity: 0;
}

.frictionless-quick-action .error-toast {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 1s;
    z-index: 10;
    margin: 0 auto;
    color: white;
    background-color: #d31510;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--body-font-size-s);
    width: fit-content;
    border-radius: 50px;
}

.frictionless-quick-action .error-toast.hide {
    opacity: 0;
}

.frictionless-quick-action .error-toast button {
    background-color: unset;
    border: unset;
    padding: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 768px) {
    .frictionless-quick-action .dropzone{
        background-image: url('/express/code/icons/dash-rectangle.svg');
    }
    .frictionless-quick-action video {
        max-width: var(--frictionless-quick-action-video-width);
    }

}

@media (min-width: 1200) {
    .frictionless-quick-action .quick-action-container#resize-image-container {
        height: 1000px;
    }
}

.frictionless-quick-action .fqa-container > div:nth-child(2) > p:last-of-type{
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.video-controls-wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--color-gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
  }
  
  .video-controls-wrapper:hover {
    background-color: var(--color-black);
  }
  
  .video-controls-wrapper:focus {
    outline: 2px solid #1473e6;
    outline-offset: 2px;
  }
  
  .video-controls-wrapper .icon {
    width: 24px;
    height: 24px;
    fill: var(--color-white);
  }
  
  .video-controls-wrapper[aria-pressed="true"] .accessibility-control.icon-play-video.isHidden {
    display: none;
  }
  
  .video-controls-wrapper[aria-pressed="false"] .accessibility-control.icon-pause-video {
    display: none;
  }
